[2020-06-17 04:33] Drakoflame opened #1 "'Dupe' bug?"
#### Versions (Be specific, do not write "latest"):
* Polymorph: 1.15.2-0.1
* Forge: 32.2.9
#### Observed Behavior:
Duplication in crafting grid (player/crafting table) when shift-clicking from crafting area, if the crafting input has 'one set' (IE: crafting an ingot from 9 nuggets will result in two ingots, but 2 ingots from 18 nuggets has no odd behavior), and other strange duplication issues/it

[2020-06-17 05:42] TheIllusiveC4 commented on #1
Hmm, odd, I can't reproduce this. At least, with the 9 nuggets -> ingot recipe. If I shift-click the output, it only gives me 1 ingot. Are you in single player? Are you using the normal crafting table? Can you reproduce this with only Polymorph installed?

[2020-06-17 06:12] TheIllusiveC4 commented on #1
Actually, I was able to reproduce this. I forgot that I myself was not using the normal crafting table as I was testing on FastWorkbench beforehand. This happens with the normal crafting table but not with FastWorkbench installed.

[2020-06-17 06:17] TheIllusiveC4 opened #2 "With FastWorkbench installed, shift-clicking yields one selected output and the rest are default"
#### Versions (Be specific, do not write "latest"):
* Polymorph: 1.15.2-0.1
* Forge: 31.2.0
#### Observed Behavior:
Shift-clicking the crafting output will result in obtaining only one of the selected output and the rest of the crafting inputs are used to make the default output.
#### Expected Behavior:
Shift-clicking the crafting output will result in obtaining only the selected output in the max

[2020-06-17 07:04] #1 closed

[2020-06-17 07:04] #2 closed

[2020-06-17 11:37] Gbergz opened #3 "[1.15.2] Random crash whilst interacting with Crafting Table (FastWorkbench installed.)"
#### Versions (Be specific, do not write "latest"):
* Polymorph: 1.15.2-0.1
* Forge: 31.2.9
#### Observed Behavior:
Random crash while interacting & crafting something with the Crafting Table. (Using FastWorkbench.)
#### Expected Behavior:
Not crashing whilst attempting to craft something.
#### Steps to Reproduce: (No idea how to reproduce because it happens at random times.)

Crash Log:  [Gist Gi

[2020-06-17 11:53] Gbergz commented on #3
Sorry didn't see you released a 0.2 version, i'll get back to you when i've tried it.

[2020-06-17 15:02] D-Bigboy-302 opened #4 "Polymorph not able to detect conflict"
Game Version: 1.15.2
Forge Version: 31.2.20

I have a recipe conflict from Quark and Doggytalents. The rope from Quark and the wool dog collar from Doggytalents. It doesn't appear in the conflict logs as well.

While I'm posting this, I'd also like to request compatibility for Vanilla Tweaks crafting Pad.

I needed a mod like this for AGES! Thank you for making it!

[2020-06-17 19:08] TheIllusiveC4 commented on #3
You could try it out anyways, but I don't think the 0.2 version would help with this particular issue. I haven't seen this behavior at all, so it will be difficult to fix without a way to reproduce this reliably. Do you remember what you were trying to craft when it happened? Also, how frequently does this happen? If it happens fairly frequently, could you maybe try to reproduce this with only Fas

[2020-06-17 19:24] TheIllusiveC4 commented on #4
Are you sure there's supposed to be a conflict? The default recipes for the Quark Rope and the Doggy Talents Wool Dog Collar are 6 strings and 8 strings respectively and do not conflict.

I'll look into the Vanilla Tweaks Crafting Pad compatibility.

[2020-06-17 23:45] WenXin20 opened #5 "Silent Gear Support"
**Please describe the new feature or change.**
Support for the Crafting Station from [Silent Gear](https://www.curseforge.com/minecraft/mc-mods/silent-gear) .

**Please describe why you want this feature.**
The player can craft items with the Crafting Station, but the button for conflicting recipes doesn't appear.

[2020-06-17 23:49] WenXin20 opened #6 "Simple Storage Network Support"
**Please describe the new feature or change.**
Support for the Storage Request Table & the Crafting Remote from [Simple Storage Network](https://www.curseforge.com/minecraft/mc-mods/simple-storage-network?gameCategorySlug=mc-mods&projectID=268495).

**Please describe why you want this feature.**
The player can craft items, but the button for conflicting recipes doesn't appear.

[2020-06-18 09:39] D-Bigboy-302 commented on #4
Oh! My mistake! Seems that they changed the recipe in one of the updates! I had memorized the old recipe. Or at least I thought lol Apologies.

Either way, thank you for your time!

[2020-06-18 09:39] #4 closed

[2020-06-21 09:15] Vaelzan commented on #3
It's an interaction with the fast shapeless recipe change that the Placebo mod adds. This can be disabled in the Placebo config but it is on but default. We've had several crash reports on the Valhelsia Discord since we updated to include Polymorph (essentially the same crash report as the one already posted).

[2020-06-21 19:44] TheIllusiveC4 commented on #3
@Vaelzan Do you know if there is any pattern in regards to what it is being crafted when the crash occurs?

[2020-06-21 23:51] #5 closed

[2020-06-21 23:51] #6 closed

[2020-06-21 23:57] TheIllusiveC4 commented on #3
I've added some error handling to prevent the crashing, which will mitigate the issue from a user perspective, although this bug will still be present.

Instead of crashing, it will likely result in not displaying any recipe conflicts and their outputs (for that particular crafting instance). If anyone comes across this issue again in either form, please check your logs for any errors from Polymor

[2020-06-22 05:26] Vaelzan commented on #3
Apologies, nobody that has sent me a report so far has actually told me what they're crafting. If I see another report sent through I'll ask more questions.

[2020-06-22 05:26] Azurewren opened #7 "Refined Storage Crafting Support"
**Please describe the new feature or change.**
Support for the _Crafting Grid_ and other crafting interfaces from [Refined Storage](https://www.curseforge.com/minecraft/mc-mods/refined-storage).

**Please describe why you want this feature.**
The player can craft items, but the button for conflicting recipes doesn't appear.

[2020-06-22 06:50] TheIllusiveC4 commented on #7
Could you list all of the items/blocks with crafting interfaces that you want to see support for? I do not use Refined Storage often so I need to know what to look into. Also, note that any auto-crafters or interfaces of that nature will not be supported yet.

[2020-06-22 07:05] Azurewren commented on #7
Sure! Okay... it seems that there is only the one main crafting interface. The extra I was looking at comes from the support addon [Refined Storage Addons](https://www.curseforge.com/minecraft/mc-mods/refined-storage-addons)
- Crafting Grid (refinedstorage:crafting_grid)
- Pattern Grid (refinedstorage:pattern_grid) - _I am unsure if this falls under the category of auto-crafter or associated inter

[2020-06-23 16:42] kreezxil opened #8 "Non-crafting Support"
**Please describe the new feature or change.**
Would like to see the option available for furnaces and similar devices where actions are performed on something and the outcome is in conflict.

**Please describe why you want this feature.**
Furnaces

In my own pack The Seilican Experience at https://www.curseforge.com/minecraft/modpacks/the-seilican-experience a player reported the following issue.

[2020-06-23 21:41] christomite opened #9 "load error"
when the game loads i get this error
![Screenshot (18)](https://user-images.githubusercontent.com/63010657/85466876-1c100d00-b570-11ea-93ed-3cb9021f7240.png)

edit: i did a little research and found its a problem with simple storage.

[2020-06-24 01:00] TheIllusiveC4 commented on #9
So can I close this issue, or is it still a problem? As for my testing, I'm unable to reproduce this and the game loads fine for me with Simple Storage Network.

[2020-06-25 21:11] christomite commented on #9
i dont know if its still an issue i just removed the simple storage mod since i rarely used it anyway

[2020-06-25 21:48] #9 closed

[2020-06-30 05:34] ArMoReDfUrY opened #10 "1.15.2 - error fetching recipes - Polymorph dislikes mod updates on existing worlds"
#### Versions (Be specific, do not write "latest"):
* Polymorph:  polymorph-FORGE-1.15.2-0.3
* Forge: 31.2.24
#### Observed Behavior: rose bush has no output in tables or inventory grids
#### Expected Behavior: rose outputs 2x red dyes
#### Steps to Reproduce:
1. put rose bush in crafting grid - should be no output
2.
3.
... it may be some weird conflict but not sure on that, the actual crash came

[2020-06-30 06:22] TheIllusiveC4 commented on #10
If pastebin isn't working, you could use other sites like gist or hastebin or any other alternative. I will need to see the crash log before I can begin to identify the cause. Also, could you elaborate more on your steps to reproduce? Detail it as if you were guiding me through your exact same steps. It's necessary so that I can try to reproduce it on my end exactly the way you did it. As it is no

[2020-06-30 06:26] ArMoReDfUrY commented on #10
Been trying on both haste and paste for an hour now. im getting fed up.

[2020-06-30 06:35] ArMoReDfUrY commented on #10
waiting on gist upload now.

[2020-06-30 07:01] ArMoReDfUrY commented on #10
log added.

[2020-06-30 07:27] TheIllusiveC4 commented on #10
Thank you. Can you address the other questions I had in my previous post? Mainly:

1) Could you elaborate more on your steps to reproduce this issue?
2) Are you able to reproduce this issue reliably? If so, are you able to do it with only Polymorph and Silent Gear installed?

[2020-06-30 07:30] ArMoReDfUrY commented on #10
will do, need some time, but i'll get it tested later today.

[2020-06-30 09:46] ArMoReDfUrY commented on #10
ok... testing done.

it seems polymorph does not like updates.

so i created a new world with just poly and silentgear. works great

i then created a new world on my pack setup and... works great.

so i removed poly and loaded my original world, tested, quit the game, then added poly back in and loaded in and...
it works great!!

i had updated rats & silent gear just before this issue & they both

[2020-06-30 09:48] ArMoReDfUrY commented on #10
BTW the silent gear crafting station works fine with the collision button.

[2020-06-30 14:00] TheIllusiveC4 commented on #10
Do you remember which versions of Rats/Silent Gear you had before and after the issue occurred? If so, I'd like to know so I can test that aspect myself.

[2020-07-01 06:22] ArMoReDfUrY commented on #10
you will need these library files, they stay in for both versions.

SilentLib-1.15.2-4.6.4+56
citadel-1.1.11

I started with these:

(Polymorph is installed)
rats-5.3.1-1.15.2
SilentGear-1.15.2-1.8.0+107
SilentMechanisms-1.15.2-0.7.2+52

make a world then update to these:

rats-5.3.2-1.15.2
SilentGear-1.15.2-1.8.1+108
SilentMechanisms-1.15.2-0.7.3+53

just know this might not be enough to do it, y

[2020-07-03 17:16] ArMoReDfUrY commented on #10
just wanted to confirm that i have replicated this behaviour a dozen times at min.
had many updates the last few days and even had it happen after adding just Waddles mod (mod has no recipes at all just a loot table for the single entity)

and confirming that it can be resolved by loading the world once without polymorph installed.
you can then re-add polymorph for full functionality.

[2020-07-03 23:40] LlubNek commented on #3
here's a related bug report for Placebo:
https://github.com/Shadows-of-Fire/Placebo/issues/13

[2020-07-03 23:48] LlubNek commented on #3
I'm not using the Valhesia modpack (though I am using their structure mod), but when it happens to me, it happens with (at least), crafting table->crafting station, log->planks, plank->button... It's probably all shapeless crafting recipes, and happens in both the inventory crafting grid and the crafting table.  There will be no output shown, but the crafting interface gets messed up after this bu

[2020-07-04 00:05] TheIllusiveC4 commented on #3
@LlubNek Your bug report on Placebo seems to imply that the first error occurs even without Polymorph installed. Is that true, or do all of them only occur with Polymorph?

[2020-07-04 00:24] Shadows-of-Fire commented on #3
The issue is probably not with Polymorph, the underlying issue is some mod adding some shapeless recipe with an ingredient that chokes when Ingredient#getValidItemStacksPacked is invoked.

The reason why polymorph makes it show up (more than usual, anyway) is that you're probably matching through all the recipes always to detect for conflicting ones, which makes this particular bad ingredient show

[2020-07-04 00:54] TheIllusiveC4 commented on #3
Hmm okay, thanks a lot for the info Shadows-of-Fire, that makes a lot of sense.

I'll leave this issue open for the time being until the offending mod/recipe is discovered. In the meantime, I suggest everyone who is having this issue to use the jar referenced here https://github.com/Shadows-of-Fire/Placebo/issues/13#issuecomment-653702092 to try and determine the problem and report back here.

[2020-07-04 02:44] LlubNek commented on #3
It's hard to say, I'm having trouble reproducing this bug when I want to.  I suspect the Placebo error does show up without Polymorph, but if nothing else happens then I have no reason to check the log whenever I craft something.

[2020-07-04 03:54] Vaelzan commented on #3
I think I may have figured it out, at least enough to have more to go off of. I haven't verified this but it seems plausible:

FastUtil isn't thread safe. In at least one log that I was looking at, the server thread and the render thread appeared to be touching Ingredient.getValidItemStacksPacked at the same time - the server thread dealing with CClickWindowPacket processing and the render thread

[2020-07-04 05:41] TheIllusiveC4 commented on #3
Hmm, very interesting. I'll have to look at this issue again with that in mind.

[2020-07-04 05:45] Vaelzan commented on #3
:)

https://github.com/Shadows-of-Fire/Placebo/commit/a2ae1751d2d4cff16f8a05ba2857ab93267338c4

[2020-07-04 07:49] TheIllusiveC4 commented on #3
Oh ok, cool. Hopefully that solves the issue. I'll mark this as closed for now, but let me know if the issue persists.

[2020-07-04 07:49] #3 closed

[2020-07-04 11:31] phit opened #11 "Crash in Simple Storage Network Integration"
#### Versions (Be specific, do not write "latest"):
* Polymorph: polymorph-FORGE-1.15.2-0.3.jar
* Forge: forge-1.15.2-31.2.27
* SSN: SimpleStorageNetwork-1.15.2-1.0.1
#### Observed Behavior:
server crash, to quote the player that triggered it

...

Crash Log: https://gist.github.com/phit/f8daabbf1bd0123eca0c76b458a71b28

[2020-07-04 21:31] TheIllusiveC4 commented on #11
I can't reproduce this. Crafting a full stack of torches multiple times in the Simple Storage Network Request Table and the Crafting Remote does not produce any errors or crashes. Can the person reproduce this bug reliably?

[2020-07-04 22:09] phit commented on #11
seems like a remapping issue in the production jar, the field should be `field_75151_b` not `inventorySlots` in the crash report
that also explains `java.lang.NoSuchFieldError:`

[2020-07-04 22:21] TheIllusiveC4 commented on #11
While that would make sense, I am using the production jar to test this and I can't reproduce this behavior. That being said, I know Simple Storage Network went through a refactor after the last Polymorph release so maybe some wires are getting crossed somehow in that regard. I'll update the integration's Simple Storage Network version and see if that fixes it in a new build.

[2020-07-05 03:15] LlubNek commented on #3
not fixed...
see https://github.com/Shadows-of-Fire/Placebo/issues/13#issuecomment-653836423

[2020-07-05 20:18] phit commented on #11
I can't reproduce it either with those instructions :/ It just happened again on the same server, gonna recompile whats on Github and hope for the best.

[2020-07-06 11:23] phit commented on #11
Welp, I recompiled with latest and then decompiled the Jar and compared it  with your release. No changes.. I'm quite confused how `NoSuchFieldError` is possible `ContainerNetwork extends Container` and there's an instanceof check in the calling method aswell https://github.com/TheIllusiveC4/Polymorph/blob/master/src/main/java/top/theillusivec4/polymorph/common/network/client/CPacketTransferRecipe

[2020-07-06 20:01] phit commented on #11
welp that didn't fix it, just got the same crash with a patched jar, gonna add some debugging what container is being called

[2020-07-06 20:08] TheIllusiveC4 commented on #11
Oh that's a shame. I do have a couple ideas for a possible fix, but it'd be hard to verify their efficacy without being able to reproduce this myself. Since you seem to have gotten the same crash again, do you have reliable reproduction steps or did it just happen by chance?

[2020-07-06 20:11] phit commented on #11
Just 20 players being online over a couple of hours it will happen eventually, they all seem to be just shift crafting various things with multiple output options when it happens.

I'll try again to find a reliable repro tomorrow.

[2020-07-09 05:48] Vaelzan commented on #11
I'm not sure if the report here will help you to reproduce it or not, but here it is (using Valhelsia 2.2.4, in case you want to use an identical environment). https://github.com/ValhelsiaTeam/Valhelsia/issues/149

[2020-07-11 02:32] #10 closed

[2020-07-11 02:32] #11 closed

[2020-07-11 02:33] TheIllusiveC4 commented on #10
Sorry for the delay. Since I can't reproduce this, I can't verify if my attempted fix actually solves the issue. Just let me know if the issue still occurs with the 0.4 update.

[2020-07-11 02:37] TheIllusiveC4 commented on #11
Sorry for the delay. I haven't had much luck reproducing this issue so I can't say for sure if my attempted fix solves it. Just let me know if the issue still occurs in the 0.4 update.

[2020-07-11 03:00] ArMoReDfUrY commented on #10
will check it out in a few hours. i gotta go do life for a bit :)

[2020-07-12 04:47] mr-poyo commented on #10
Just wanted to post on my own personal experience. I have a custom modpack on my server and i recently updated Polymorph from 0.3 to 0.4 among some other mods. My crafting and even anvil use broke. It was failing to return recipes. Loaded a fresh single player world, worked fine.

I have since reverted my server world back to polymorph 0.3 and the crafting/anvils are working properly again.

Forge

[2020-07-12 05:02] TheIllusiveC4 commented on #10
@mr-poyo Do the logs show any errors?

[2020-07-12 05:17] mr-poyo commented on #10
No crash log, it was only an interaction problem.
I have since reverted to 0.3, but I did look up some old zipped logs:

crash report: https://pastebin.com/G4Q5yKcS

If you need to me to dig more and grab a full log I can look. I snipped this one right after I logged in and did some craft testing. Hope it's useful.

[2020-07-12 20:44] Viaspo opened #13 "CraftingCraft Portable Crafting Table Support"
I would like support for the portable crafting table in the mod [CraftingCraft](https://www.curseforge.com/minecraft/mc-mods/craftingcraft).

Having a portable crafting table works wonders for quickly crafting something when you're in need of it. Although it only slows you down a few seconds to place down a crafting table and craft, I would still like to at least ask.

[2020-07-16 00:31] katubug opened #14 "Conflict with latest FastWorkbench"
Hi! I'm going to reference the issue I made here: https://github.com/Shadows-of-Fire/FastWorkbench/issues/44

I hope you will forgive me copying and pasting what I wrote there, instead of using the template:

Hello! I'm using **FastWorkbench 3.1.1** and **Polymorph 0.6** on **Forge 31.2.31**, and I'm having an issue where recipes other than the primary one don't seem to be selectable. The Polymorp

[2020-07-16 04:46] erragar opened #15 "Mod Conflict not resolving"
My Fiance came up with a Modpack that uses the following two mods

[https://www.curseforge.com/minecraft/mc-mods/bag-of-yurting](url)

and

[https://www.curseforge.com/minecraft/mc-mods/openblocks-elevator](url)

The recipe for a Bag of Yurting and a White Elevator Block are the same, but we cannot select between the two even selecting the elevator block in the pop up menu that you've provided. Is

[2020-07-16 04:47] #14 closed

[2020-07-16 04:55] TheIllusiveC4 commented on #15
Please give me the version numbers for Bag of Yurting, OpenBlocks Elevator, Polymorph, and Forge.

In addition, what crafting methods have you tried? If you have only tried the vanilla crafting table, and you have FastWorkbench installed, then the 0.7 version of Polymorph that I just released a few minutes ago may solve your issue.

[2020-07-16 06:39] erragar commented on #15
Here are the versions first, and my Fiance is going to try 0.7. I'll give you a progress report asap

Bag of Yurting 1.0.0.1
OpenBlocks Elevators 1.15.2-1.7.1
Polymorh FORGE  1.15.2 - 0.6
Forge: 31.2.31

[2020-07-18 09:12] phit commented on #11
This specific issues seems to be resolved. Thanks!

[2020-07-20 00:13] #7 closed

[2020-07-20 00:13] #13 closed

[2020-07-20 11:40] Viaspo commented on #13
Thank you!

[2020-07-22 01:56] TheIllusiveC4 commented on #15
Any update on this?

[2020-07-22 05:45] erragar commented on #15
My apologies on this. We were giving it a good deal a testing, just to make sure one instance wasn't definitive. Yes, this issues seems to have been fixed by updating. Thank you for your initial swift response and looking out for this kinda stuff :D

[2020-07-22 11:32] Darkfiend009 opened #16 "Oh The Biomes You'll Go (BYG) Compatability"
**Please describe the new feature or change.**
Requesting support for crafting tables made of the different woods from the mod "Oh The Biomes You'll Go." (BYG)
https://www.curseforge.com/minecraft/mc-mods/oh-the-biomes-youll-go

**Please describe why you want this feature.**
BYG adds crafting table variants based on the different woods found in the mod. When trying to craft an item using Polymorph

[2020-07-22 20:36] #15 closed

[2020-07-22 21:03] TheIllusiveC4 commented on #16
Works fine for me. Am I missing something perhaps? Also, this is more like a bug than a feature request, so can you provide version numbers and reproduction steps?

![2020-07-22_14 01 52](https://user-images.githubusercontent.com/29991504/88228413-000d9300-cc24-11ea-9b65-983bbc8cb8a2.png)

[2020-07-22 21:12] Darkfiend009 commented on #16
I apologize for the lack of clarity. It happens when you are using any of the variant crafting tables as the main crafting table to craft something else.

So, for instance in your picture. You create that crafting table, place it down in the world, and use it functionally as a crafting table to craft another item or block.

[2020-07-22 22:23] TheIllusiveC4 commented on #16
Well I can reproduce this now, so I'll look into it.

[2020-07-23 00:08] #16 closed

[2020-07-23 00:18] Darkfiend009 commented on #16
Thank you for this mod and your incredibly fast response and fix! I'll be adding the update to my modpack tomorrow!

[2020-07-26 02:00] steelfoot opened #17 "BYG Wooden Logs Unable to Craft Into Planks When Polymorph is Installed (Forge 1.16.1)"
#### Versions:
* Polymorph: 0.11
* Oh the Biomes You'll Go 1.0.12
* Forge/Fabric: Forge 32.0.75
#### Observed Behavior: As of 0.11, wooden logs from the mod "Oh the Biomes You'll Go" (BYG) are unable to be crafted into planks via the inventory crafting grid or any crafting table.
#### Expected Behavior: Crafting a single wooden log from BYG in any crafting grid produces 4 planks of the wooden log'

[2020-07-26 02:20] TheIllusiveC4 commented on #17
Works for me.

![2020-07-25_19 19 03](https://user-images.githubusercontent.com/29991504/88469963-c222a000-ceab-11ea-8e57-7784a57172aa.png)

Are these the only mods present when you tested this?

[2020-07-27 04:29] steelfoot commented on #17
They were, but I found that that wasn't the issue after installing FastWorkbench and discovering the same issue.  Reinstalling Java seems to have solved the problem.

Note to self:  check that first.

[2020-07-27 04:29] #17 closed, assigned to TheIllusiveC4

[2020-08-02 06:57] WhitePhant0m opened #19 "[1.16.1] Button isn't correctly placed on refined storage crafting grid"
#### Versions (Be specific, do not write "latest"):
* Polymorph: 0.11
* Forge/Fabric: 32.0.88
#### Observed Behavior:
The button seems to not move when you change the size of the crafting grid
![image](https://user-images.githubusercontent.com/33400200/89117382-01ea1880-d4a6-11ea-9b83-7b0796146119.png)
![image](https://user-images.githubusercontent.com/33400200/89117388-0d3d4400-d4a6-11ea-91ab-5b0

[2020-08-02 08:02] TheIllusiveC4 commented on #19
Oh, I didn't realize that you could change the size. Very interesting. Hopefully this is an easy fix.

[2020-08-03 02:48] Camawama opened #20 "Weird Error in Logs (Doesn't cause any problem)"
Very simple report here. I am on the latest version of Forge and the Latest version of the Mod and when starting up Minecraft, in the Logs I find this error. I tested every single mod in my modpack and it only showed up with your mod. Hopefully, it can fix an issue later down the line :)

![weird error](https://user-images.githubusercontent.com/43620900/89141324-eadd1200-d509-11ea-8437-2e4e04294e5

[2020-08-04 01:30] TheIllusiveC4 commented on #20
This isn't an issue, so don't worry about it. And it'll likely disappear in the 1.16.2 version.

[2020-08-04 01:30] #20 closed, assigned to TheIllusiveC4

[2020-08-05 01:50] Vaelzan commented on #10
FYI - this appears to be a problem in 1.16.1 currently. Can't easily file a fresh issue since I'm on my phone but there's some additional information here: https://github.com/ValhelsiaTeam/Valhelsia/issues/221

[2020-08-05 04:42] TheIllusiveC4 commented on #10
@Vaelzan I don't see any logs or error messages mentioned in the linked issue. Can anyone provide either of those? If the recipes are failing, it should be logging something.

[2020-08-06 09:21] Khytwel commented on #10
@TheIllusiveC4 Here's a log file sent on our issue.
[2020-08-05-2.log](https://github.com/TheIllusiveC4/Polymorph/files/5033896/2020-08-05-2.log)

[2020-08-06 09:45] TheIllusiveC4 commented on #10
@Khytwel Hmm, weird. So, there's nothing in the logs at all from Polymorph. That's not to say I don't think there's an issue here, as clearly it seems uninstalling Polymorph makes everything work again. But I'm unsure what's exactly happening. All Polymorph does is fetch the recipes, it shouldn't be doing anything to the recipes themselves.

I'll have to investigate further. Some additional questi

[2020-08-06 12:08] Khytwel commented on #10
@TheIllusiveC4 For the new instances apparently no, but I'm not sure.

But I remember that versions of Forge above 32.0.70 that's where the bug is. I had updated the modpack once on a new version of Forge and that's when the bug appeared.  So we'd gone back to Forge 32.0.70 and there was no more problem.

Otherwise the bug only occurs on a few crafts like: raw basic processor from Refined Storage,

[2020-08-06 15:20] rodrigokiller commented on #10
Hello fellow comrades
If any of you need more logs, screenshots or anything else, I can provide it for you. I can create a video too, even an TV connection to reproduce the error (sorry, I dont use containers for this).
You just need to mention me, I will be delighted to help

[2020-08-06 22:21] TigerWalts opened #21 "[1.15.2] Server Crash - NoSuchMethodError with SimpleStorageNetwork integration"
#### Versions (Be specific, do not write "latest"):
* Polymorph: 1.15.2-0.9
* Forge: 1.15.2-31.2.33
* SimpleStorageNetwork: 1.15.2-1.0.1

#### Observed Behavior:
I did not observer this myself, the players who ran into the problem could not tell me what they did. There is a ticket on the Simple Storage Network tracker though: https://github.com/Lothrazar/Storage-Network/issues/296

#### Steps to R

[2020-08-07 03:28] ArturilloD opened #22 "Error FastWorkbench and Crafting Station"
#### Versions (Be specific, do not write "latest"):
* Polymorph: 1.15.2-0.9
* Forge/Fabric: forge 31.2.36
#### Observed Behavior: There is incompatibility between FastWorkbench and Crafting Station, when having both installed the button does not appear.

Also I wanted to add that I think it would be great if you could add compatility with Inventory Crafting Grid: https://www.curseforge.com/minecra

[2020-08-07 03:54] TheIllusiveC4 commented on #22
Sorry I can't reproduce this. Everything works fine for me with both those mods installed. Did you test this with only those mods installed and nothing else?

[2020-08-08 20:23] boneskull opened #23 "enhancement: support VanillaTweaks' Crafting Pad"
**Please describe the new feature or change.**

Support for the Crafting Pad of [VanillaTweaks](https://www.curseforge.com/minecraft/mc-mods/vanillatweaks)

**Please describe why you want this feature.**

VanillaTweaks is a popular (relatively?  3mil downloads on curseforge) mod and has a hand-held crafting table, the Crafting Pad.  From what I can tell, the crafting pad doesn't do anything out-of

[2020-08-09 05:14] #21 closed, assigned to TheIllusiveC4

[2020-08-09 10:10] ArturilloD commented on #22
I have removed a few mods, since it was impossible to play and for now it does not seem to be happening again. I suppose there is incompatibility with some of them.

[2020-08-09 10:53] #22 closed, assigned to TheIllusiveC4

[2020-08-09 17:55] boneskull commented on #23
Thanks!!  The result is still empty for me, but it might be some other mod conflict...

[2020-08-09 17:55] boneskull commented on #23
hmm, it's not _always_ empty.  let me try to figure out when it is

[2020-08-10 01:24] boneskull commented on #23
It breaks the Tinkering Table of Mystical Agriculture

[2020-08-10 11:30] Khytwel commented on #10
@TheIllusiveC4 Any news?

[2020-08-10 18:09] TheIllusiveC4 opened #24 "[1.16] Polymorph breaks recipes when worlds update mods"
#### Versions (Be specific, do not write "latest"):
* Polymorph: 1.16.1-0.12
* Forge: 32.0.70

For more info, please see last few comments of: https://github.com/TheIllusiveC4/Polymorph/issues/10

[2020-08-10 18:11] TheIllusiveC4 commented on #10
@Khytwel Sorry for the lack of updates. I am working on this, it's just a little involved because I want to refactor a core aspect of Polymorph to try and resolve this and all future related issues. This particular issue thread will remain closed as it is slightly different, but I've opened a new thread that you and anyone else can monitor for updates: https://github.com/TheIllusiveC4/Polymorph/is

[2020-08-14 06:37] #24 closed, assigned to TheIllusiveC4

[2020-09-02 07:39] nokteholda opened #26 "Oh, How the Crafting Has Tabled! Mod support"
**Please describe the new feature or change.**
Mod support to "Oh, How the Crafting Has Tabled!" for fabric
**Please describe why you want this feature.**
Because this mod have crafting table from all planks (ex. Crimson Crafting Table, etc.)

[2020-09-06 22:26] rxay579 opened #27 "Better Nether (Fabric) Crafting Table Support"
Better Nether adds a few extra crafting table varieties from different woods.
It would be great if you could extend support to the extra crafting tables.

[2020-09-21 16:58] WenXin20 opened #28 "Support for Lotr crafting tables"
**Please describe the new feature or change.**
- Support for [The Lord of the Rings Mod Renewed](https://www.curseforge.com/minecraft/mc-mods/the-lord-of-the-rings-mod-renewed)

**Please describe why you want this feature.**
 - This mod adds in several new crafting tables, with 2 different buttons in the gui, one for normal crafting & one for crafting special items in that specific bench, but the

[2020-09-30 22:55] Leeo97one opened #29 "Fabric server crash"
#### Versions:
* Polymorph: 0.0.5-1.16.3
* Fabric: 0.10.0+build.208

#### Observed Behavior:
The Fabric server crashes when Polymorph is present.

#### Expected Behavior:
The server does not crash.

#### Steps to Reproduce:
1. Put Polymorph in the `mods` directory of the Fabric server
2. Start the server

Crash Log: https://hastebin.com/ipomogotes.sql

[2020-09-30 23:04] Leeo97one commented on #29
Oh sorry I'm so dumb... I just forgot the Fabric API mod while investigating another crash. 🤦🏽‍♂️

[2020-09-30 23:04] #29 closed, assigned to TheIllusiveC4

[2020-10-02 00:05] AlleCraft-alterego opened #31 "more polymorf for all 1.16.1-1.16.3"
add polymorf to:

crafting station
applied energistics
simple storage
tom's simple storage mod
immersive engineering (there is a crafting)

fix problem with crafting craft in inventory crafting item

![2020-10-02_02 01 57](https://user-images.githubusercontent.com/72225590/94874832-59c7e000-0453-11eb-88ec-d42a5a10c00c.png)

fix problem with refined storage
![2020-10-02_02 04 09](https://user-image

[2020-10-20 02:30] ProsperCraft opened #32 "[1.16.3] Crash with BYG update."
#### Versions (Be specific, do not write "latest"):
* Polymorph: polymorph-forge-1.16.3-0.15
* Forge/Fabric: byg-1.1.0-ALPHA-v3

https://gist.github.com/ProsperCraft/30974b6aa59042bc0808811095e444f1

[2020-10-20 02:58] BedrockLegends commented on #32
Ran into this same issue as well

[2020-10-20 22:24] CorgiTaco commented on #32
Considering BYG's latest file is Alpha, it's debatable whether or not to change the file path to the alpha's.

[2020-10-23 03:58] BedrockLegends commented on #32
There should be some kinda of release this weekend to fix this

[2020-10-23 04:53] CorgiTaco commented on #32
@BedrockLegends Dont rush them please.

[2020-10-23 05:49] TheIllusiveC4 commented on #32
For context @BedrockLegends was probably referring to a comment I made on Discord. I do plan on making an update this weekend to address this issue.

[2020-10-26 08:13] #32 closed, assigned to TheIllusiveC4

[2020-10-26 22:12] Devestatio opened #33 "Add to Inventory and forges please."
**Please describe the new feature or change.**
Conflict support in the inventory crafting grid and the various forges please.

**Please describe why you want this feature.**
There are many recipes conflicting for forge recipes, as well as not all recipes need to use the crafting table, and can be done in the player inventory.

Thank you very much for making this mod to begin with, and for all your

[2020-10-29 01:03] autumnhour opened #34 "1.15.2 version requires 1.16 forge version"
Polymorph for 1.15.2 requires Forge 31.2.5 which is for MC 1.16

[2020-10-29 04:04] TheIllusiveC4 commented on #34
This is incorrect, it is a 1.15.2 version.

https://files.minecraftforge.net/maven/net/minecraftforge/forge/index_1.15.2.html

[2020-10-29 04:04] #34 closed, assigned to TheIllusiveC4

[2020-10-29 22:24] autumnhour commented on #34
Is this a joke, you sent a link which states forge for 1.15.2 latest version is 31.2.45. The mod requires 31.2.5???

[2020-10-30 06:50] TheIllusiveC4 commented on #34
Yes, those are both correct. 31.2.5 came before 31.2.45 since 5 is less than 45. I'm sorry if that comes off as condescending, I'm just not sure how else to put it. The 31.2.5 version is on that same page that I linked you for 1.15.2, you can check it yourself.

[2020-11-20 14:54] Lazuli26 opened #36 "Polymorph 0.15 not working with Oh The Biomes You'll Go 1.1.2+"
Hello, I encountered this issue while running my server after adding Polymorph to the mixture

Polymorph (polymorph) encountered an error during the common_setup event phase
§7java.lang.NoClassDefFoundError: voronoiaoc/byg/client/gui/BYGWorkbenchContainer

[2020-11-20 22:15] JamesYeoman commented on #36
It appears at some point between `oh the Biomes You'll Go` v1.0.8 and v1.1, the package `voronoiaoc` was renamed to `corgiaoc`. The releases between those two versions seem to be in regards to addressing a change in the way forge handles registries, as if I try to load v1.0.8, I get errors in regards to BYG trying to add to the registries after the registry was locked.

v1.0.8 was released late oc

[2020-11-20 23:35] TheIllusiveC4 commented on #36
Update to Polymorph 0.16.

[2020-11-20 23:35] #36 closed, assigned to TheIllusiveC4

[2020-11-25 02:40] NomSTee opened #37 "incompatible with Oh the biomes you'll go!"
It is incompatible with byg crafting tables, the game is unable to boot up when these 2 mods are together.

[2020-11-27 11:27] TheIllusiveC4 commented on #37
Duplicate of https://github.com/TheIllusiveC4/Polymorph/issues/36

[2020-11-27 11:27] #37 closed, assigned to TheIllusiveC4

[2020-11-27 11:28] #23 closed, assigned to TheIllusiveC4

[2020-11-27 11:28] #19 closed, assigned to TheIllusiveC4

[2020-11-27 11:29] #31 closed, assigned to TheIllusiveC4

[2020-11-27 11:29] #33 closed, assigned to TheIllusiveC4

[2020-11-27 11:57] zwibblTV opened #38 "Server crashes with 0.17"
Versions:
* Polymorph: polymorph-forge-1.16.4-0.17.jar
* Forge: forge-1.16.4-35.1.0.jar

Observed Behavior: Server crashes on start

Crash Log: https://hasteb.in/mecowaju.rb

[2020-11-27 13:54] NomSTee commented on #38
I believe im having the same issue,
https://hasteb.in/bufexeyu.rb

[2020-11-27 15:37] TwilightPSN commented on #38
same issue here

https://gist.github.com/TwilightPSN/123d4788ce27e5fb4bf9a8ffd639c874

[2020-11-27 19:30] TheIllusiveC4 commented on #38
Whoops, sorry about that. I'll have an update out momentarily.

[2020-11-27 19:34] #38 closed, assigned to TheIllusiveC4

[2020-11-28 08:03] ptk2003 opened #39 "[1.16.4] dedicated server can't loading"
Failure message: Polymorph (polymorph) encountered an error during the common_setup event phase
java.lang.RuntimeException: Attempted to load class net/minecraft/client/world/ClientWorld for invalid dist DEDICATED_SERVER

polymorph-forge-1.16.4-0.17
forge-1.16.4-35.1.0

[crash-2020-11-27_19.21.24-fml.txt](https://github.com/TheIllusiveC4/Polymorph/files/5610235/crash-2020-11-27_19.21.24-fml.txt)

[2020-11-28 08:11] TheIllusiveC4 commented on #39
Duplicate of https://github.com/TheIllusiveC4/Polymorph/issues/38
Update Polymorph.

[2020-11-28 08:11] #39 closed, assigned to TheIllusiveC4

[2020-11-28 13:09] AlleCraft-alterego opened #40 "pretty pipes VS polymorph button"
forge 35.1.6
pretty pipes 1.8.3
polymorph 0.17
minecraft 1.16.4

(polymorph button have my custom texture for my modpack)

![2020-11-28_14 02 34](https://user-images.githubusercontent.com/72225590/100516301-308dac80-3183-11eb-8557-207b6244be44.png)

[2020-11-30 00:04] AdnanuReeves opened #41 "Shuffle button not showing anywhere"
#### Versions (Be specific, do not write "latest"):
* Polymorph: polymorph-forge-1.16.4-0.18.jar
* Forge/Fabric: Forge 35.1.7
#### Observed Behavior: No shuffle button
#### Expected Behavior: Shuffle button
#### Steps to Reproduce: I dont know

Crash Log: Too big for paste sites :(
[latest.log](https://github.com/TheIllusiveC4/Polymorph/files/5613157/latest.log)

[2020-11-30 00:35] TheIllusiveC4 commented on #41
Please try and reproduce this issue without any other mods first. If it's a mod incompatibility, please reduce the number of mods to the amount minimal necessary to reproduce the issue.

[2020-12-06 14:16] SirOMGitsYOU opened #42 "Crashing on dedicated server"
[crash-2020-12-06_14.06.49-fml.txt](https://github.com/TheIllusiveC4/Polymorph/files/5648877/crash-2020-12-06_14.06.49-fml.txt)

[2020-12-07 00:03] TheIllusiveC4 commented on #42
Duplicate of #38
Update Polymorph.

[2020-12-07 00:03] #42 closed, assigned to TheIllusiveC4

[2020-12-10 13:55] sunnyughs opened #43 "Polymorph button issues in specific crafting situations"
Versions:
* Polymorph: [1.16.3-0.16](https://www.curseforge.com/minecraft/mc-mods/polymorph/files/3093134)
* Forge/Fabric: 1.16.3 - 34.1.42

Refined Storage - [v 1.9.9](https://www.curseforge.com/minecraft/mc-mods/refined-storage/files/3111240)
![image](https://user-images.githubusercontent.com/26176279/101780914-2a71c700-3ac5-11eb-9a69-07e62e83a94a.png)

Crafting Station - [v 4.1.1](https://www.c

[2020-12-10 14:09] TheIllusiveC4 commented on #43
I believe these are fixed in more updated Polymorph versions. I see that you're on 1.16.3, but I believe Polymorph 0.18 should still work on that version. Could you try that and verify for me?

[2020-12-11 01:24] sunnyughs commented on #43
It is indeed fixed on Polymorph 0.18 on 1.16.3.

Thanks!

[2020-12-11 01:24] #43 closed, assigned to TheIllusiveC4

[2020-12-16 09:53] smallerYeet opened #44 "Feature Request: Add Support for two Mods."
**Please describe the new feature or change.**
There are two mods that you should add your Support to!
First is [Crafting station](https://www.curseforge.com/minecraft/mc-mods/crafting-station).
Second is [Simple Storage Network](https://www.curseforge.com/minecraft/mc-mods/simple-storage-network/).

This would be very nice. I run a Mod pack that focuses around more Vanilla style and thus those mo

[2020-12-16 15:23] TheIllusiveC4 commented on #44
What version of Polymorph are you using? They should already be compatible.

[2020-12-16 17:01] smallerYeet commented on #44
I use an Old version and just upgraded. So I wasn't able to try out if it works, sorry then!

[2020-12-16 18:06] TheIllusiveC4 commented on #44
Okay then. If they still don't work in the newest version, then submit a bug report and I'll check it out.

[2020-12-16 18:06] #44 closed, assigned to TheIllusiveC4

[2020-12-18 05:41] #40 closed, assigned to TheIllusiveC4

[2020-12-18 05:58] TheIllusiveC4 commented on #27
Implemented in the 0.0.6 release.

[2020-12-18 05:58] #27 closed, assigned to TheIllusiveC4

[2020-12-18 05:58] TheIllusiveC4 commented on #26
Implemented in the 0.0.6 release.

[2020-12-18 05:58] #26 closed, assigned to TheIllusiveC4

[2020-12-18 06:01] TheIllusiveC4 commented on #8
Implemented in 1.16.4 with the 0.19 Forge release and 0.0.6 Fabric release. The complexity of this feature unfortunately makes a 1.15.2 backport unlikely.

[2020-12-18 06:01] #8 closed

[2020-12-20 10:32] Djgione opened #45 "Crash when Smelting with [Create] GUI-less furnace alternative"
#### Versions:
* Polymorph: 1.16.4-0.19
* Forge: 1.16.4-35.1.13
#### Observed Behavior:
Attempting to use an encased fan from Create Mod [1.16.3v-0.3]
Used with lava in order to smelt iron ore into iron ingots.
Crashed before the ore turned to ingots. Server kicks all players.
#### Expected Behavior:
Iron Ore should have smelted into iron ingots.
Smelting occurs by dropping on floor in front of an

[2020-12-20 12:11] #45 closed, assigned to TheIllusiveC4

[2020-12-20 12:15] TheIllusiveC4 commented on #45
Unfortunately, I cannot reproduce your issue. Following your steps, I can successfully smelt my item. However, the cause of your issue is plain to me so regardless I've attempted a fix with Polymorph 0.20. Please give the new version a shot and see if the issue still persists, then let me know the results.

[2020-12-20 14:29] #41 closed, assigned to TheIllusiveC4

[2020-12-20 19:04] Djgione commented on #45
Great job, patch works great and the crash has been stopped. Appreciate the quick response.

[2020-12-20 20:02] Vaelzan commented on #45
To add a little context for why it couldn't be reproduced, the crash only occurs when FastFurnace is also present, so just Polymorph and Create alone wouldn't trigger it.

Thanks for the quick fix, C4!

[2020-12-21 04:49] AlNexus opened #46 "Game crashes because of "Fabric Containers (v0)" after installing mod."
Not Enough Crashes says it's Fabric Containers, I don't know why. Minecraft doesn't start after installing this mod, giving this crash.
Here's the log

---- Minecraft Crash Report ----
// Don't be sad, have a hug! <3

Time: 2020-12-20 23:34:15 BRT
Description: Initializing game

java.lang.RuntimeException: Could not execute entrypoint stage 'client' due to errors, provided by 'fabric-containers-v0

[2020-12-21 05:23] AlNexus commented on #46
Works after updating Fabric API! Awesome mod btw.

[2020-12-21 05:23] #46 closed, assigned to nobody

[2020-12-21 07:03] Trikzon opened #47 "Help Needed Fixing Compat With My Mod Crumbs"
#### Versions:

* Polymorph: 1.16.4-0.20
* Forge/Fabric: forge (possibly also fabric)
* Crumbs: 1.0.5+1.16.4

#### Observed Behavior:

Opening a Crumbs Crafting Table crashes the game.

#### Expected Behavior:

Right clicking on a Crumbs Crafting Table should open the CrumbsCraftingMenu which extends the vanilla menu.

#### Steps to Reproduce:
1. Install polymorph and crumbs.
2. Place a crumbs cra

[2020-12-21 19:04] TheIllusiveC4 commented on #47
I was a little confused at first as Polymorph is not even called anywhere in the stacktrace and I had a hard time figuring out what could have caused this on my end. However, I just tested an instance with only Crumbs installed and it resulted in the same crash, so this is not a Polymorph compatibility issue. For your reference, I was using only Crumbs 1.0.5 and Forge 35.1.13 on MultiMC.

Here's t

[2020-12-21 19:04] #47 closed, assigned to TheIllusiveC4

[2020-12-21 21:15] Trikzon commented on #47
Hmm ok, now I'm more confused than before because I didn't get the crash when I tried it without polymorph installed.
Thanks for letting me know its on my end, I'll fix it myself in that case.

[2020-12-22 15:52] Gbergz opened #49 "[1.16.4] Polymorph button shows up top left in Creative Inventory (and button is always shown in normal inventory.)"
#### Versions
* Polymorph: 1.16.4-0.20
* Forge/Fabric: **Forge**
#### Observed Behavior:

Button is being being shown in the creative inventory despite no crafting window is shown.

#### Expected Behavior:
No Polymorph button in Creative Inventory.
#### Steps to Reproduce:
1. Go into Creative
2. Look top left
3. There it is.
...

Screenshot:
![image](https://user-images.githubusercontent.com/26634

[2020-12-22 20:03] TheIllusiveC4 commented on #49
It sounds like some mod(s) are adding empty recipes. Can you reproduce this with only Polymorph installed?

[2020-12-23 19:03] 53901 commented on #41
AdnanuReeves
may i ask if the issue was solved. and if it was a mod conflict.
i would appreciate ur response, for i am experiencing the same issue.

[2020-12-24 20:06] Gbergz commented on #49
Appears its not an issue when the mod is on an empty instance. Though this started happening with one of the recent updates to Polymorph. ``polymorph-forge-1.16.4-0.16.jar`` which is no longer available did work. No random button anymore.

Was going to revert to that but since it's no longer available I tried 0.15, but that didn't even let me boot my game.

[2020-12-25 21:24] #49 closed, assigned to TheIllusiveC4

[2020-12-30 23:37] onemorelevel0 opened #50 "Polymorph button not appearing for crafting table (1.16.4)"
#### Versions (Be specific, do not write "latest"):
* Polymorph: 1.16.4, most recent update (worked fine before furnace update)
* Forge/Fabric: forge
#### Observed Behavior:
#### Expected Behavior:
#### Steps to Reproduce:
1. no button to switch between recipes in crafting table, but it works for furnace
2. button to switch between recipes in shapeless crafting & crafting table
3. have mod on and

[2020-12-31 03:06] TheIllusiveC4 commented on #50
Can you reproduce this with only Polymorph installed? If not, you'll need to isolate the minimum number of mods needed to reproduce this issue.

Also, I'll need to know which conflicting recipes you tried.

[2021-01-01 18:16] Gbergz opened #51 "[Question] Is it intended that the Polymorph button shows up if the recipe output is the same item? (Images in desc)"
Title^

For example this happens when the output of the recipe is the same and there being 2 recipes for that item.

**Example: Stone Pickaxe:**
![image](https://user-images.githubusercontent.com/26634554/103444034-27ea3380-4c65-11eb-9025-306cbb611d39.png)

**How it looks in the table:**
![image](https://user-images.githubusercontent.com/26634554/103444042-359fb900-4c65-11eb-86c4-ee364228c263.png)

[2021-01-02 01:56] #51 closed, assigned to TheIllusiveC4

[2021-01-12 00:25] MusicalCatto opened #52 "Not sure if I'm being dumb but there's no such thing as forge 1.15.2 version 31.2.5?"
I'm trying to use this mod because it's really helpful and I need it, but it's asking me to have forge version 31.2.5 or above, which doesn't exist. When I go onto the forge files website and look, it only goes up to 31.2.47 and that's the latest one. Please help :D
![Screenshot 2021-01-12 132500](https://user-images.githubusercontent.com/77307033/104253563-ab174f00-54d9-11eb-9d31-7a9bd04ba54c.png

[2021-01-12 00:36] TheIllusiveC4 commented on #52
31.2.47 is later than 31.2.5. The 5 is a 5, not a 50.

[2021-01-12 00:36] #52 closed, assigned to TheIllusiveC4

[2021-01-13 18:02] crafting-Aaron opened #53 "Brewing Support?"
I am surprised no one mentioned this but will there be any support for potion recipes?  There can be various conflicts with brewing when it comes to using a single ingredient. For example, the ender pearl and eye of ender are very popular ingredients for teleportation related potions.
I feel that adding this feature could prevent such issues as most mod makers barely deviate from the usual awkward

[2021-01-15 00:41] TheIllusiveC4 commented on #53
This is a little trickier than I thought at first glance. The main issue is that brewing recipes don't operate like any of the other recipes. It doesn't even really use the recipe system at all. For instance, all of the vanilla potion brewing could be considered just a single recipe with multiple possible inputs and outputs. This makes it difficult to integrate with the concept of recipe conflicts

[2021-01-17 01:57] toktoktheeo opened #54 "Item image not appearing in carfting output slot when using the autofill function of JEI"
Mod List:
  [✔️] additional_lights-1.16.4-2.1.3
  [✔️] AdiectaMateria2.4.1-1.16.4
  [✔️] Advancement_Book-1.16.4-1.0.4
  [✔️] AkashicTome-1.4-15
  [✔️] Aquaculture-1.16.4-2.1.12
  [✔️] Ashenwheat-1.16.4-4.4.1.0
  [✔️] AttributeFix-1.16.4-9.0.5
  [✔️] AutoRegLib-1.6-47
  [✔️] bettas-1.2.1
  [✔️] BetterAdvancements-1.16.4-0.1.0.103
  [✔️] BetterMineshafts-Forge-1.16.3-1.1.1
  [✔️] Bookshelf-1.16.4-9

[2021-01-17 05:01] TheIllusiveC4 commented on #54
After several attempts, I cannot reproduce this behavior.

Does this happen in single player, multiplayer, or both?
Does this happen with ONLY Polymorph installed?

[2021-01-17 09:31] jahirtrap opened #55 "Support for Sophisticated Backpacks mod"
**Please describe the new feature or change.**
[Sophisticated Backpacks](https://www.curseforge.com/minecraft/mc-mods/sophisticated-backpacks) has a crafting and smelting interface it would be useful to have the polymorph functions in this mod.
**Please describe why you want this feature.**
It is the most complete backpack mod I know, I use it in my modpack and at the time of crafting I have confl

[2021-01-17 11:32] toktoktheeo commented on #54
Hi,
I tried to find the culprit. It seems that the issue happens when Polymorph and Productive Bees are in the mod list. Without Productive Bees or without Polymorph, it does not happen. It does not happen with only Polymorph and it does not happen with only Polymorph and Productive Bees. It's very strange. It seems an other mod is conflicting in the mix. I'll continue testing to find out which mo

[2021-01-17 18:05] Darkere opened #56 "Crafting output missing in RS Pattern Grid"
#### Versions (Be specific, do not write "latest"):
* Polymorph: polymorph-forge-1.16.4-0.22.jar
* Forge/Fabric: Forge
#### Observed Behavior:
Polymorph causes the crafting output in the Pattern grid to disappear sometimes

I'm unable to reproduce it after removing Polymorph.
#### Steps to Reproduce:
https://gfycat.com/ShadowyTastyFowl

I have Industrial forgoing installed as switching between the

[2021-01-18 01:38] #56 closed, assigned to TheIllusiveC4

[2021-01-18 01:49] TheIllusiveC4 commented on #56
After looking into it, this is probably symptomatic of a deeper syncing issue within Polymorph. However, that'll take some time to properly implement a solution so I've written a stopgap solution that should address this specific problem. I can't 100% guarantee that it does since this problem cannot be reproduced 100% of the time, but the problem seems to have disappeared in my testing after many

[2021-01-18 01:52] TheIllusiveC4 commented on #54
Don't worry about it too much if you can't isolate the issue further. After looking into this and another issue, this may be symptomatic of a deeper syncing issue within Polymorph and I plan to do some heavy refactors in an attempt to address it.

[2021-01-30 22:47] CerbTheOne opened #58 "Smithing Table Compatibility"
**Please describe the new feature or change.**
It would be nice if the smithing table worked just like the crafting table and the furnace(s), where we would have the option to alternate between conflicting recipes.

**Please describe why you want this feature.**
I was tinkering around with a modpack I'm making and I noticed that the safe from Supplementaries and the netherite shulker box from Neth

[2021-02-02 13:42] KhanhPham05 opened #59 "Recipe Lock"
**Please describe the new feature or change.**
Add a feature for locking / unlock a recipe polymorph tab

**Please describe why you want this feature.**
The recipe to make an item that locked will always craft to that item and can be unlocked

[2021-02-06 15:24] SaytoROG commented on #50
I have the Same Problem
Polymorph: 1.16.4
Forge 35.1.37 (1.16.4)

Conflicts with inspirations:building/rope:
quark:building/crafting/rope

Conflicts with biomesoplenty:birch_sign_from_magic_planks:
quarkoplenty:magic_sign

Conflicts with quarkoplenty:hellbark_sign:
biomesoplenty:dark_oak_sign_from_hellbark_planks

Conflicts with doggytalents:dog_bath:
quark:building/crafting/rusty_iron_plate

Conf

[2021-02-06 17:11] TheIllusiveC4 commented on #50
@SaytoROG I'll ask you the same things I asked the OP.

[2021-02-07 16:09] Zygus42 commented on #50
I'm having the same issue, and we're running 200+ mods.

With just polymorph installed, there are no conflicting recipes, because only polymorph is installed......

I noticed the problem first with tin armor from Mystical World and Simple Ores, so I set up a game with just those and JEI and it works fine, so no clue what other mod is interfering with it.  It would take a very long time to test it

[2021-02-08 11:27] Zygus42 commented on #50
Ok, some time later - it's:
productivebees-1.16.5-0.6.4

Add that and no more button to exchange recipes.

[2021-02-08 14:50] TheIllusiveC4 commented on #50
Can you provide full version numbers? That is, Polymorph version and Forge version as well as Productive Bees version? And also which specific recipe conflict you tested to verify this behavior. Because just adding Productive Bees 1.16.5-0.6.4 to my testing instance, I still can't reproduce this issue and the recipe toggle button still works as normal.

[2021-02-08 14:57] Zygus42 commented on #50
forge-1.16.5-36.0.7-installer

polymorph-forge-1.16.5-0.24
productivebees-1.16.5-0.6.4

and then i was using mystical world and simpleores for the conflict in tin armor.
SimpleOres2-1.16.5-2.4.4.0
SimpleCoreLib-1.16.5-2.0.5.0
mysticalworld-1.16.4-0.3.1.8
Patchouli-1.16.4-48

And that's all that's in my test folder.

[2021-02-08 16:49] TheIllusiveC4 commented on #50
Thank you, I've successfully reproduced this issue. Unfortunately I believe this is not resolvable on my end. I'll report this issue to the Productive Bees developer and hopefully they can address it.

[2021-02-08 16:49] #50 closed, assigned to TheIllusiveC4

[2021-02-10 19:11] Warbringer12 opened #60 "smelting bug"
#### Versions (Be specific, do not write "latest"):
* Polymorph: 1.16.5-0.24
* Forge/Fabric: forge
#### Observed Behavior: placed any ore inside of furnace did not smelt
#### Expected Behavior: placing of any ore inside of furnace to start smelting
#### Steps to Reproduce:
1. placed iron ore inside furnace with fuel
2. waited
3.
...
![image](https://user-images.githubusercontent.com/44590540/10755

[2021-02-10 20:38] TheIllusiveC4 commented on #60
Can you reproduce this with only Polymorph installed? If not, you'll need to provide a minimum number of mods to reproduce this issue.

[2021-02-12 10:40] schradieck opened #61 "Crafting Station from advanced stations"
#### Versions (Be specific, do not write "latest"):
* Polymorph: polymorph-forge-1.16.5-0.24
* Forge/Fabric: Forge 35.1.37
#### Observed Behavior: trying to use polymorph in an Improved Stations crafting table causes the recipes to rapidly jump between the original and the one selected with polymorph. clicking will randomly give you either output.
Does not happen on a vanilla table.

#### Expected

[2021-02-15 16:17] gousisme opened #62 "Can't join multiplayer"
Hey, me and my friend can't join eachother after installed this mod :( is there any fix for that?

[2021-02-15 19:00] TheIllusiveC4 commented on #62
What does the error say when you try to join? Are you sure that both the server and the client have this mod installed?

[2021-02-17 03:11] gousisme commented on #62
Hello, i found out that it only happen with some other mods installed, everything's fine after uninstalled them :D btw the error said "Internal server error", thanks for making this awesome mod!

btw sorry for my terrible english!

[2021-02-17 03:11] #62 closed, assigned to TheIllusiveC4

[2021-02-17 11:47] czbuendel opened #63 "Allows Vanilla Recipes on Modded Furnace Even Though Disabled"
#### Versions (Be specific, do not write "latest"):
* Polymorph: 1.16.5-0.24
* Forge/Fabric: 36.0.14
#### Observed Behavior: Having Polymorph installed allows disabled recipes on external furnace like blocks to make furnace recipes. For Instance, the Brick Furnace from Brick Furnace or the Kiln from Charm Reforged.
#### Expected Behavior: The best example comes with Brick Furnace. It has the abili

[2021-02-17 20:28] TheIllusiveC4 commented on #63
You mentioned the Kiln from Charm Reforged. How does that one work?

[2021-02-17 20:33] czbuendel commented on #63
That one acts similiarly, So in a pack with say Charm, Polymorph, and Vanilla Food Pantry the Kiln can cook an egg even though that shouldn't be possible. Disabling Polymorph, it won't cook them.

[2021-02-17 23:21] TheIllusiveC4 commented on #63
Hmm, so I've managed to fix the issue in my development build with the Kiln from Charm Reforged, that was pretty straightforward. However, the Brick Furnace from Brick Furnace is a little trickier due to how they've set up dual recipe types. I'm currently not sure what the best solution is, so I'll have to think on that some more.

[2021-02-18 06:51] Zygus42 commented on #58
Having a similar issue with recipes for gilded armor added by "DiceMC Tiered Armor" and "Craft and Hunt".  I agree, would be very useful to have a button on the smithing table.

[2021-02-21 07:22] FullMetalMaster opened #65 "wont stay on seleted item"
forge

keeps spaming back and forth between items of the same recipe seems to happened with alot of mods

[2021-02-21 07:52] TheIllusiveC4 commented on #65
Please be more specific and follow the bug report template.

1) What version of Polymorph are you using?
2) What version of Forge are you using?
3) Can you reproduce this with only Polymorph installed?
4) If you can't reproduce this with only Polymorph installed, what are the minimum number of mods installed needed to reproduce this issue (and what are they)?
5) Please provide steps to reproduce t

[2021-02-21 08:12] FullMetalMaster commented on #65
seems to specifically happen with improve stations https://www.curseforge.com/minecraft/mc-mods/improved-stations-forge

[2021-02-21 08:13] FullMetalMaster commented on #65
and the Polymorph mod

[2021-02-21 08:13] FullMetalMaster commented on #65
and the Polymorph mod

[2021-02-21 08:46] TheIllusiveC4 commented on #65
Okay, then I'm closing this issue as it's a duplicate of https://github.com/TheIllusiveC4/Polymorph/issues/61. I'll be providing updates there once I have developed a solution.

[2021-02-21 08:46] #65 closed, assigned to TheIllusiveC4

[2021-02-23 11:39] dwiantlake opened #66 "Polymorph button doesn't show"
I have Quark installed on my personal modpack and it made some variant to the chest, althou the chest cannot be combine into the large variant if they have different material, even with this mod installed it still doesn't show that I can change the chest into normal one like in any other modpacks.
Is there any way or config to change that?
TY.

[2021-02-23 21:03] TheIllusiveC4 commented on #66
This is because Quark normally disables the regular recipe. That's why it doesn't show up. Modpacks sometimes re-add the recipe themselves and that's what you would need to do. Although do note that Quark has a special recipe that gives you the normal chest if you mix materials in the crafting grid.

[2021-02-23 21:03] #66 closed, assigned to TheIllusiveC4

[2021-02-24 17:55] Leo40Git opened #67 "Compatability issues with Origins: Classes"
#### Versions (Be specific, do not write "latest"):
* Polymorph: 0.0.9
* Forge/Fabric: Fabric
#### Observed Behavior:
Class crafting perks are not taking effect, and vanilla recipes are being used instead (the "switch result" button doesn't appear, either):
- Lumberjacks get the standard 4 planks from logs
- Blacksmiths get standard tools when crafting
#### Expected Behavior:
Class crafting perks

[2021-02-24 19:11] Leo40Git commented on #67
If you want my guess: I'm assuming the recipe conflict algorithm only checks the type of the output item, and not the item's count/tag contents.

[2021-02-24 19:26] TheIllusiveC4 commented on #67
The mistaken recipe output aside, what recipe conflict are you expecting? You said that the button is not showing up, but failed to mention the recipe conflict you're trying to switch between.

[2021-02-24 19:41] Leo40Git commented on #67
The recipe conflict are between:
- A recipe for 4 planks and a recipe for 6 planks in the Lumberjack's case
- A recipe for some arbitrary tool and a recipe for the same tool but with a buff applied (stored in the item's tag) in the Blacksmith's case

The fact that these recipes are conditional might also affect this, I'm not sure.

[2021-02-24 19:46] TheIllusiveC4 commented on #67
So, looking at the code for Origins: Classes, I have a couple ways I could try and resolve this. But I'll clear up one point: you won't be able to switch between recipes regardless. That's because Origins: Classes doesn't provide new recipes at all, it just modifies the inventory output directly. That's also the reason why Polymorph cannot see the true result, because it expects the original recip

[2021-02-24 19:47] Leo40Git commented on #67
Ah. Yeah, that'd... also cause that. Oops.

[2021-02-24 20:09] TheIllusiveC4 commented on #67
Fixed in 0.10. Stopgap solution until I figure out something better.

[2021-02-24 20:09] #67 closed, assigned to TheIllusiveC4

[2021-03-03 10:52] Shadowglitchjpg opened #68 "Smelting recipe conflicts (1.15.2)"
Hello. I have a few mods installed that add conflicting furnace recipes, but the latest version of this mod for 1.15.2 doesn't do anything about it. Can you please add this functionality to the 1.15.2 version?

[2021-03-03 17:50] TheIllusiveC4 commented on #68
Sorry, the 1.15.2 version is only receiving critical bug fixes at this point.

[2021-03-03 17:50] #68 closed, assigned to TheIllusiveC4

[2021-03-10 16:27] DeadPigman17 opened #69 "Incompatibility with Environmental and Charm"
Both Environmental and Charm add a type of furnace called Kiln, which acts like a smoker or a blast furnace but for items like stone, clay, etc. The problem is that, when using Polymorph, both furnaces from both mods don't work as they should: they use 1 coal to smelt 4 items instead of the regular 8. It's like it burns the fuel at the speed of a blast furnace/smoker but smelts the items at the sp

[2021-03-14 07:01] Edison12300 opened #70 "Conflict doesn't show up in cyclic mod's crafting machine"
In cyclic, there's a block called crafting machine that auto craft stuff, but polymorph doesn't show the conflicts.

[2021-03-15 20:09] skellitor301 opened #71 "1.12.2 backport?"
Hi, I was wondering if there were any plans to do a backport to 1.12.2?

I mainly ask because the usual mod goto for this is labeled as abandoned and thus wont show up in Curse's client when searching. Plus it'd be better if 1.12 packs could use the method Polymorph uses when choosing recipes in crafting stations and furnaces than have to cycle through each recipe.

[2021-03-16 01:43] TheIllusiveC4 commented on #71
I am no longer developing for 1.12.2, so no plans for a backport. The mod is open-source so someone else can do so if they wish.

[2021-03-16 01:43] #71 closed, assigned to TheIllusiveC4

[2021-03-20 02:55] corneliusdeforrest opened #72 "Incompatibility with Modern UI"
Don't know why, tried to figure it out, could be multiple things. I think (key word, think) it's something do to with how Modern UI messes with layouts. Thought I'd throw out the knowledge at least.

[2021-03-30 10:27] LexShadow commented on #58
Pleas please add this

[2021-04-01 14:52] InsaanNotFound opened #73 "Polymorph does not work with Fabric Screen API (0.30.0+ FAPI versions)"
Button to cycle between recipes does not appear. Same conflict with newest Architectury API versions. I tried to scout the log for any error, none appears.

[2021-04-02 03:22] TheIllusiveC4 commented on #73
Are you saying the button also does not appear when used alongside the newest Architectury API versions?

Also, which recipe conflict did you try? Are you certain there's an existing recipe conflict for your attempt?

[2021-04-02 09:11] InsaanNotFound commented on #73
Yes, it does not. I tried simple chest recipe conflict with Charm (it adds different wood type chests overriding default chest recipe) and then I made a datapack adding same recipe for two different items, button did not appear in both of them.

[2021-04-13 02:14] hotdog95 commented on #69
I have some suggestions as a work around for this;

Have a way to disable Polymorph on specific blocks (a "recipe block" blacklist) where the default is chosen.
Have the ability in game to choose a default recipe (this could be useful for autocrafting with refined storage or AE2)

[2021-05-04 17:26] IITFA opened #74 "Tinkers Construct crafting table compatibility"
#### Versions (Be specific, do not write "latest"):
* Polymorph: polymorph-forge-1.16.5-0.24.jar
* Forge/Fabric: forge-1.16.5-36.1.13-installer.jar (server)
#### Observed Behavior: Doesn't work with the Tinkers Crafting Table
#### Expected Behavior: Should probably work with the Tinkers Crafting Table
#### Steps to Reproduce:
1. Try to craft a known conflicting recipe on Tinkers Crafting Table
2.

[2021-05-08 01:36] #60 closed, assigned to TheIllusiveC4

[2021-05-19 02:43] vonrix opened #76 "Red Mojang Studios Load Screen Loops"
I'm trying to make a new modpack with curseforge/overwolf loader and trying to load fabric mods using jumploader mod to allow fabric mods to work with cursforge loader. Everything seems to be ok so far until I add Polymorph (Fabric). It starts to load, the progress bar on the red Mojang Studios load screen completes, it flashes the Minecraft Java Edition Singleplayer/Multiplayer Options menu and t

[2021-05-22 10:42] Kogarou-san opened #77 "Crash when using Polymorph, TechReborn and FAPI 0.34.2"
#### Versions (Be specific, do not write "latest"):
* Minecraft 1.16.5
* Fabric 0.11.3
* fabric-api-0.34.2+1.16 (crashes)
* fabric-api-0.29.4+1.16 (doesn't crash)
* polymorph-fabric-0.0.9-1.16.5
* RebornCore-1.16-4.7.2+build.134
* TechReborn-1.16-3.8.3+build.233

#### Observed Behavior:
When using Fabric API 0.34.2 along mentioned TechReborn and RebornCore mods (the latest publicly available at th

[2021-06-15 06:49] rlnt opened #78 "Unlimited free items with RS Pattern Grid"
#### Versions
* Polymorph: 1.16.5-0.24
* Forge: 36.1.31

The detailed issue explanation can be found here: https://github.com/refinedmods/refinedstorage/issues/3016
Probably related to the fix implemented for this issue: https://github.com/TheIllusiveC4/Polymorph/issues/56

[2021-06-15 08:33] TheIllusiveC4 commented on #78
Hm, that's certainly a big issue. It might have to do with how the syncing is done, it's possible I could solve it temporarily by special-casing the Pattern Grid. I'll have to look into the code for how the Pattern Grid specifically operates. I'll try to have a workable resolution for you by the end of tomorrow.

[2021-06-15 15:29] rlnt commented on #78
Sounds good, thanks for looking into that.
I think temporarily it would also be nice to have a config to blacklist specific screens from the mod.
But I am not sure what could be used as identifier for each screen. You probably need a reference to their class.

[2021-06-16 06:45] #78 closed, assigned to TheIllusiveC4

[2021-06-16 06:46] TheIllusiveC4 commented on #78
I've hotfixed it by temporarily disabling the Polymorph integration for the Pattern Grid specifically. Ideally I'd like to make it work together, but that'll require some more time on my part and I'd rather address the exploit quickly rather than letting it sit for too long.

[2021-06-16 07:33] rlnt commented on #78
I consider this the right solution for right now as it's a pretty game-breaking behaviour. Thanks a lot!

[2021-06-19 03:58] TheNutFather opened #80 "Polymorph, quark and vanilla compatability"
**Please describe the new feature or change.**
Let polymorph alternate between vanilla chests and quark chests

**Please describe why you want this feature.**
so mods require vanilla chests and with quark installed that's not possible

[2021-06-19 04:14] TheIllusiveC4 commented on #80
Correct me if I'm wrong, but I believe Quark has its own recipe for the vanilla chests which involves mixing two or more types of wooden planks in the recipe to get it. Polymorph does not alternate them because they do not count as the same recipe.

[2021-06-19 04:14] #80 closed, assigned to TheIllusiveC4

[2021-06-21 08:05] ghost opened #81 "Crashes, when I use mod "Go fish""
---- Minecraft Crash Report ----
// Why did you do that?

Time: 6/21/21 10:08 AM
Description: Initializing game

java.lang.RuntimeException: Could not execute entrypoint stage 'client' due to errors, provided by 'go-fish'!
	at Not Enough Crashes deobfuscated stack trace.(1.16.5+build.9)
	at net.fabricmc.loader.entrypoint.minecraft.hooks.EntrypointUtils.invoke0(EntrypointUtils.java:50)
	at net.fabr

[2021-06-29 08:39] thecatking9274 opened #82 "Recipe output flickers while you using a crafting station"
#### Versions (Be specific, do not write "latest"): 1.16.5
* Polymorph: almost everything
* Forge/Fabric: forge
#### Observed Behavior: when i try to craft something for example copper the recipe output flickers
#### Expected Behavior: successfully crafting a “ice and fire” copper block with “create” copper
#### Steps to Reproduce:
1. Download “improvement stations” mod
2. Craft a improved craftin

[2021-07-03 02:56] MenacingPerson opened #83 "1.17"
Pretty self explanatory. Thank you in advance!

[2021-07-07 15:54] JumperREDACTED opened #84 "Crash on world join with fabric per player spawns"
#### Versions (Be specific, do not write "latest"):
* Polymorph: 0.0.10
* Fabric: Fabric Api 0.35.0, loader 0.11.3

Game crashes when you try to create or enter a world with both polymorph and fabric per player spawns.

Crash Log: Pastebin doesn't let me cuz its too long.
[latest.log](https://github.com/TheIllusiveC4/Polymorph/files/6778556/latest.log)
[crash-2021-07-07_17.46.33-server.txt](https:

[2021-07-07 16:33] JumperREDACTED commented on #84
nvm its some other mod, going thru 200 mods isnt easy

[2021-07-07 16:33] #84 closed, assigned to TheIllusiveC4

[2021-07-17 18:50] emanuele246gi opened #85 "Getting the previous crafting result even when I'm not trying to craft that object"
#### Versions:
* Polymorph: 0.25
* Forge: 36.1.33
#### Observed Behavior:
I keep getting the previous crafting recipe result when I try to change object, I'm talking about the compressed diorite, which appears only as andesite, here is an image:
![2021-07-17_20 37 22](https://user-images.githubusercontent.com/61762317/126046732-fec59302-2f18-48ca-99e1-7ab235c6345f.png)

#### Expected Behavior:
The

[2021-07-23 19:51] TeoNikolov commented on #83
I apologize in advance since I have little experience working with pull requests on GitHub. What are the options to get your changes regardless of whether the author accepted their pull request and getting that as a runable mod? Do I need to clone your repo and then build the mod to a separate jar?

[2021-08-04 02:54] TheArcticKing opened #87 "Furnace Recipe Conflicts not working"
#### Versions (Be specific, do not write "latest"):
* Polymorph:0.0.10
* Forge/Fabric: Fabric
#### Observed Behavior: when trying to smelt an item that shares the same recipe it will only smelt the first result and not the second
![furnase breaking](https://user-images.githubusercontent.com/88414985/128114439-152ecc5f-eb38-4aa2-a567-a3dfabe7dddf.PNG)

#### Expected Behavior: it should smelt the se

[2021-08-04 03:14] Kore-Development commented on #82
This also happens on Fabric

[2021-08-04 03:15] Kore-Development commented on #82
Here's the mod
Fabric: https://www.curseforge.com/minecraft/mc-mods/improved-stations
Forge: https://www.curseforge.com/minecraft/mc-mods/improved-stations-forge

[2021-08-10 07:33] Angular-Angel commented on #83
Forge is updated to 1.17. Any plans to upgrade Polymorph? I'd certainly appreciate having it available. XD

[2021-08-23 12:08] Paw-El-Cow opened #88 "Stop at world loading"
Same:
https://github.com/spoorn/SpoornBountyMobs/issues/3#issue-976947063
but different image
these two mods are not at the same time

[2021-08-23 21:12] TheIllusiveC4 commented on #88
Please list out your Polymorph version and Fabric or Forge version. Also, be sure to reproduce this with _only_ Polymorph installed.

[2021-08-25 07:44] TheIllusiveC4 commented on #73
This should be fixed in the latest update, 0.0.11-1.16.5. Please let me know if the issue persists.

[2021-08-25 07:44] #73 closed, assigned to TheIllusiveC4

[2021-08-25 07:46] TheIllusiveC4 commented on #76
I never confirmed this bug, and this may have very well been an issue with Jumploader, but please try out the latest version 0.0.11-1.16.5 and let me know if the issue persists.

[2021-08-25 07:46] #76 closed, assigned to TheIllusiveC4

[2021-08-25 07:48] TheIllusiveC4 commented on #58
This feature is now available on Fabric in version 0.0.11-1.16.5. It will also be coming to Forge 1.16.5 and Fabric 1.17 very soon.

[2021-08-25 07:48] #58 closed, assigned to TheIllusiveC4

[2021-08-25 07:48] TheIllusiveC4 commented on #77
This should be fixed in the latest update, 0.0.11-1.16.5. Please let me know if the issue persists.

[2021-08-25 07:48] #77 closed, assigned to TheIllusiveC4

[2021-08-25 07:50] TheIllusiveC4 commented on #81
I'm not sure what was causing this issue, perhaps just due to outdated CCA or a mismatch somewhere, but this should be fixed in 0.0.11-1.16.5. Please try out the latest version and let me know if the issue persists.

[2021-08-25 07:50] #81 closed, assigned to TheIllusiveC4

[2021-08-25 07:55] TheIllusiveC4 commented on #87
I'm not sure if something changed since then, or if this is a custom datapack, but I cannot see a recipe conflict like this with AE2 and Tech Reborn installed. Regardless, can you try the latest Polymorph update, 0.0.11-1.16.5, and let me know if the issue persists?

[2021-08-26 23:51] TheIllusiveC4 commented on #83
I've just released 0.0.12-1.17.1 for Fabric. I will release a 1.17 version for Forge once mixins are available again (which, as of this time, they are not).

[2021-09-10 00:17] TobiPeterG opened #89 "Polymorph shows air recipe after crafting"
#### Versions (Be specific, do not write "latest"):
* Polymorph: 0.0.12
* Forge/Fabric: Fabric
#### Observed Behavior: After crafting something, polymorph shows the player a button to craft "air"
#### Expected Behavior: no button should be visible
#### Steps to Reproduce:
1. start minecraft world
2. go into crafting  menu and craft something / put something in the crafting field and remove it agai

[2021-09-10 00:17] TobiPeterG commented on #89
I used an unofficial port to 1.17 before, didn't happen there. https://github.com/TheIllusiveC4/Polymorph/pull/86

[2021-09-10 03:17] TheIllusiveC4 commented on #89
You're going to have to be a lot more specific. I need enough information to reproduce this issue on my own.

Please give me the Fabric version. Also, the _minimum_ mod list required for the issue. The reproduction steps will also need more details, such as what you are placing into the crafting inventory, which crafting menu you're using, and which recipe conflict you're trying to resolve when th

[2021-09-10 12:23] TobiPeterG commented on #89
Yes, sorry, ofc.

I use fabric API 0.40.0 with fabric 0.11.6.
The only other mod required seems to be a mod by yung (like betternether with yung's API).

With these mods, removing an item from the crafting frame shows up the polymorph button and shows "Air", selecting it though doesn't let me craft "Air".

![grafik](https://user-images.githubusercontent.com/19935382/132851678-1ce52df3-ed6d-45bf-98

[2021-09-10 15:06] TheIllusiveC4 commented on #89
Thanks for the follow-up, I've successfully reproduced this issue with BetterNether installed. Hopefully it's a trivial fix.

[2021-09-10 15:22] TobiPeterG commented on #89
OK, thank you!
A trivial fix would be obviously to forbid showing air at all as a result of polymoprh, though hard coding is ofc not best practice. But air should never be an option

[2021-09-11 05:29] TheIllusiveC4 commented on #89
This should be fixed as of the 0.0.12-1.16.5 update. Please let me know if the issue persists.

[2021-09-11 05:29] #89 closed, assigned to TheIllusiveC4

[2021-09-11 22:38] TobiPeterG commented on #89
Issue is fixed, thank you very much!

[2021-09-12 17:05] kalker-3 opened #90 "Crash due to incompatibility with Applied Energetics 2"
#### Versions (Be specific, do not write "latest"):

* Polymorph: 0.0.12-1.16.5
* Fabric: 0.34.6+1.16
* Applied Energistics 2: 8.3.0-alpha.3

#### Observed Behavior:

Game crashes when interacting with a crafting table or opening the inventory, doesn't happen if Polymorph isn't enabled.

#### Expected Behavior:

Game shouldn't crash

#### Steps to Reproduce:

1. Right click on a crafting table or

[2021-09-16 05:43] TheIllusiveC4 commented on #90
Can you update to the latest alpha, 8.4.0-alpha.2, and retest?

[2021-09-18 18:39] AdamSousGithub opened #91 "Not compatible with plugin crafts."
Hello, I play on a local server to use plugins and I have a craft that i can't do another way (i tried everything but it's really impossible). Is it possible to chose from a vanilla craft and a plugin one? (I already tried and as far as i know the answer is no)

[2021-09-19 03:31] TheIllusiveC4 commented on #91
Polymorph only supports Forge-only or Fabric-only environments, plugins are not supported. I'm not sure what you mean by "plugin crafts", but you could possibly just turn those plugin crafts into a datapack yourself (and custom datapack recipes are definitely supported).

[2021-09-19 03:31] #91 closed, assigned to TheIllusiveC4

[2021-09-28 16:37] Romz24 opened #92 "Support FastBench"
#### Versions (Be specific, do not write "latest"):
* Polymorph: fabric-0.0.12-1.16.5
* Forge/Fabric: fabric 0.11.7
#### Observed Behavior:
When using the FastBench mod, there is no recipe selection button in the workbenches.
https://www.curseforge.com/minecraft/mc-mods/fastbench-for-fabric

[2021-09-28 18:08] Romz24 commented on #87
Indeed, there is such an error, it is reproduced in the fabric version.

Mod: v0.0.10 and v0.0.12

[2021-09-28 18:44] Romz24 opened #93 "Many different bugs"
#### Versions (Be specific, do not write "latest"):
* Polymorph: v0.0.12
* Fabric: v0.11.7
#### Observed Behavior:
1. I constantly see recipes that shouldn't be there, in my case it's **tin nugget** that can't be crafted in the current situation
![1](https://user-images.githubusercontent.com/2458113/135145319-0815fd58-409b-438b-88d5-a2bad541c8c0.png)
2. When choosing a recipe, the panel is visuall

[2021-09-28 19:20] TheIllusiveC4 commented on #93
Which version of Fabric API are you using? Have you updated to the latest?

[2021-09-28 19:22] Romz24 commented on #93
I try to update all mods to the current version, and fabric-api are no exception.

```fabric-api-0.40.1+1.16.jar```

[2021-09-28 19:30] TheIllusiveC4 commented on #93
Okay, hand me your mod list then. Make sure you delete any mods that are not involved in the issue so that I have a minimal workspace to look at.

[2021-09-28 19:35] TheIllusiveC4 commented on #93
Also, I have confirmed 2 and 4 and am working on solutions for those.

I cannot reproduce 1 and 3, so I will need more information such as the specific recipes/mods involved.

[2021-09-28 19:38] Romz24 commented on #93
Do you need to drop only links to curseforge or upload archive with all the mods?

[2021-09-28 19:45] TheIllusiveC4 commented on #93
I need the version numbers also, so you can just list out the mod names and their version numbers. Also, I want to re-iterate, not all of the mods, just the ones involved. So, Polymorph, Fabric API, and I see Tech Reborn in your example. Maybe one or two more mods if their recipes are also involved. If it's more than 5 mods, you need to trim it down.

[2021-09-28 20:12] Romz24 commented on #93
I use 72 mods, and I don't know which one is causing the bug. Finding a mod that causes a bug will be very difficult.

[2021-09-28 20:22] Romz24 commented on #93
The melting error seems to be related to the ```better-nether-5.0.7.jar``` mod

List mods:
[code]

Download: https://www.solidfiles.com/v/dNB3Aq8B2qnkM

[2021-09-28 21:11] Romz24 commented on #93
@TheIllusiveC4

UPD: I spent a huge amount of time to figure this out, but in the end I found mods that cause bugs.
I think that at least one bug occurs due to the ```better-nether-5.0.7.jar``` mod

Video: https://youtu.be/GBc0W-IKBLc
Download: https://www.solidfiles.com/v/PexRW5pmGdVXw

[code]

[2021-09-28 22:17] TheIllusiveC4 commented on #93
Thank you very much for your cooperation, I'll review everything later on and report back with an update as soon as I can.

[2021-09-29 01:05] TheIllusiveC4 commented on #93
Okay, I understand what's happening in 1 now. I have working solutions for 1, 2, and 4. Still reviewing 3.

[2021-09-29 01:29] #92 closed, assigned to TheIllusiveC4

[2021-09-29 01:30] TheIllusiveC4 commented on #87
Should be solved by https://github.com/TheIllusiveC4/Polymorph/commit/99726b57cff4c9a71524dc4820b5becc5db267f1

[2021-09-29 01:30] #87 closed, assigned to TheIllusiveC4

[2021-09-29 01:30] TheIllusiveC4 commented on #93
All should be fixed in 0.0.13. Thank you for reporting these issues.

[2021-09-29 01:30] #93 closed, assigned to TheIllusiveC4

[2021-09-29 02:11] Romz24 commented on #93
Thank you, I'm glad you responded quickly.

[2021-10-04 07:28] Jjesper0508 opened #94 "biomemapping changes(messes up) when polymorph is installed."
**Polymorph forge 1.16.5**
Ok, this is something weird I encountered while trying to get this mod on a forge server. When this mod is installed biomes seem to not work correctly. The biome mapping (i only tested overworld and nether so far) seems to get completely messed up when I enter this mod into a server. for example, twilight forest swamp inside a cherry blossom forest (from biomes o plenty)

[2021-10-04 19:53] Whataheckisasonic opened #95 "Polymorph button vanishes when opening an hud."
#### Versions (Be specific, do not write "latest"):
* Polymorph: 0.0.14-1.17.1
* Forge/Fabric:  Fabric 1.17.1 (api 0.37.2+1.17)
* Mod that causes the bug: Consularorigins-1.3.2

#### Observed Behavior: when consularorigins is installed the polymorph button doesnt show up.

#### Expected Behavior: Button Should show up normally and not vanishing away.

#### Steps to Reproduce:
1. Right click a craf

[2021-10-06 02:44] SplendidAlakey opened #96 "Incompatible with Recipe Cache"
#### Versions (Be specific, do not write "latest"):
* Polymorph: polymorph-fabric-0.0.14-1.17.1
* Forge/Fabric: fabric-api-0.40.1+1.17
#### Observed Behavior:

When [Recipe Cache](https://www.curseforge.com/minecraft/mc-mods/recipe-cache) is used alongside Polymorph, the recipe selection button does not appear.

I'd imagine it's the same issue as #92.

[2021-10-06 03:59] TheIllusiveC4 commented on #96
Unfortunately, due to the way Recipe Cache is coded, integration is not currently feasible. It's a bit different than FastBench, particularly in the fact that all of their logic is inside their own mixins which makes it impossible for me to target them.

I've opened up an issue about this on the Recipe Cache repository if you'd like to follow any updates on their end:
https://gitlab.com/biom4st3r/

[2021-10-06 05:19] TheIllusiveC4 commented on #94
This seems like an unrelated issue because I don't see how Polymorph could affect biome changes.

Can you do this:
1) Start up without Polymorph
2) See biomes
3) Start up with Polymorph
4) See biomes change
5) Start up without Polymorph again
6) See biomes reset to step 2
7) Add another mod that is not Polymorph
8) What happens to the biomes?

[2021-10-08 00:57] itsdinkd opened #97 "Running /polymorph conflicts does nothing but create error in console"
1.17.1
Latest version of polymorph
Fabric

to reproduce:
1. Type /polymorph conflicts
2. Check console

Modpack: Another Quality Modpack 2

[00:39:56] [Server thread/INFO]: [STDERR]: java.lang.NullPointerException: Cannot read the array length because "<local11>" is null
[00:39:56] [Server thread/INFO]: [STDERR]: 	at top.theillusivec4.polymorph.server.PolymorphCommands.lambda$findConflicts$4(Polym

[2021-10-08 12:26] XyLyXyRR opened #98 "Crash with `appliedenergistics2`"
#### Versions (Be specific, do not write "latest"):
* Polymorph: 0.0.13-1.16.5
* Forge/Fabric: 0.34.7+1.16
* Applied Energistics: 2 8.3.0-alpha.3
* Minecraft: 1.16.5
#### Observed Behavior: Crashed when I open inventory
#### Expected Behavior: Open inventory normally
#### Steps to Reproduce:
1. Add `Polymorph` `Applied Energistics` to `mods`
2. Launch game and try open inventory
3. Game crashed

C

[2021-10-08 17:11] TheIllusiveC4 commented on #98
Duplicate of https://github.com/TheIllusiveC4/Polymorph/issues/90
Update to the latest Applied Energistics 2 version (8.4.0-alpha.2)

[2021-10-08 17:11] #98 closed, assigned to TheIllusiveC4

[2021-10-08 17:12] #90 closed, assigned to TheIllusiveC4

[2021-10-11 19:50] frakier commented on #82
Makes the game almost unplayable if any lag is introduced... and gets worse over time.
Eventually you have to blindly trust that it is making the correct thing and either drag out the completed item or do the other where the newly made item[s] go straight into inventory.. then close inventory and open to see if it made because it will not show up until you close... when you try to fill the recipe

[2021-10-11 22:09] AlienXtream commented on #87
im having this on the forge version v0.25.
no specific recipe. just that the furnace does not output the specified result, only the "default" one (default being however minecraft decides to prioritise the recipes if there are conflicts)

[2021-10-17 20:25] itsdinkd opened #99 "Mixin Conflict"
1.17.1
Fabric
Latest version of Polymorph

--

[20:15:11] [main/WARN]: Method overwrite conflict for getMatchingStacks in polymorph.mixins.json:AccessorIngredient, previously written by net.id.incubus_core.mixin.IngredientMixin. Skipping method.

[2021-11-02 20:11] NielsPilgaard commented on #69
Any updates on this issue? :)

[2021-11-03 02:10] TheIllusiveC4 commented on #69
It's quite a lucky coincidence you'd ask today of all days, as I'm actually putting the finishing touches and testing on the next Polymorph update (releasing either today or tomorrow) which will address this and many other issues.

Although I should note that the update also represents a complete rewrite of the mod. While I believe the overall mod should be more stable, new bugs may arise that wer

[2021-11-04 01:09] TheIllusiveC4 commented on #54
I've rewritten the mod in such a way that this problem is either solved or completely different, so I'll be closing this issue. If something like this still occurs with version 0.26+, then please open a new bug report.

[2021-11-04 01:09] #54 closed, assigned to TheIllusiveC4

[2021-11-04 01:10] TheIllusiveC4 commented on #55
Support for Sophisticated Backpacks's crafting and smelting upgrades is now available on version 1.16.5-0.26+.

[2021-11-04 01:10] #55 closed

[2021-11-04 01:10] TheIllusiveC4 commented on #61
This is fixed as of version 1.16.5-0.26.

[2021-11-04 01:10] #61 closed, assigned to TheIllusiveC4

[2021-11-04 01:11] TheIllusiveC4 commented on #63
This should be fixed as of version 1.16.5-0.26. If that is not the case, please let me know.

[2021-11-04 01:11] #63 closed, assigned to TheIllusiveC4

[2021-11-04 01:11] TheIllusiveC4 commented on #69
This should be fixed as of version 1.16.5-0.26. If that is not the case, please let me know.

[2021-11-04 01:11] #69 closed, assigned to TheIllusiveC4

[2021-11-04 01:12] TheIllusiveC4 commented on #72
I was never able to reproduce this, but using the latest version 1.16.5-0.26 does not seem to have any issues with Modern UI so I'll close this issue. If that is not the case, please let me know and list out the version numbers for both Polymorph and Modern UI.

[2021-11-04 01:12] #72 closed, assigned to TheIllusiveC4

[2021-11-04 01:13] TheIllusiveC4 commented on #74
Tinkers' Construct support has been added in version 1.16.5-0.26.

[2021-11-04 01:13] #74 closed, assigned to TheIllusiveC4

[2021-11-04 01:13] TheIllusiveC4 commented on #70
Cyclic's Crafter and Workbench support has been added in version 1.16.5-0.26.

[2021-11-04 01:13] #70 closed, assigned to TheIllusiveC4

[2021-11-04 01:16] TheIllusiveC4 commented on #82
Improved Stations support has been added in version 1.16.5-0.26 on Forge, and I believe this issue has been resolved on the Fabric version as well since 0.11-1.16.5. Please let me know if this is not the case.

[2021-11-04 01:16] #82 closed, assigned to TheIllusiveC4

[2021-11-04 01:17] TheIllusiveC4 commented on #85
I was never able to reproduce this issue, but I rewrote the mod in the latest version 1.16.5-0.26 which should either resolve the issue or change its nature completely. I'll be closing this issue, but if this issue still occurs then please file a new bug report with the newer version.

[2021-11-04 01:17] #85 closed, assigned to TheIllusiveC4

[2021-11-04 05:05] NielsPilgaard commented on #69
Will do, ty 👍

[2021-11-05 16:44] itsdinkd opened #100 "Crashing Server on 1.17.1"
https://pastebin.com/AbFwrBpP

Something strange is going on with Polymorph

[2021-11-05 20:57] TheIllusiveC4 commented on #100
I'll need more information. What happened that caused the crash? It looks like this was from someone attempting to craft something. Are you able to reproduce the issue? If so, please list out the steps.

[2021-11-06 04:11] ModernGamingWorld opened #101 "Crash on server 1.16.15"
#### Versions (Be specific, do not write "latest"):
* Polymorph: 1.16.5-0.26
* Forge/Fabric: Forge

Server crashed after Mining a block and it blamed Polymorph

Crash Log: Please use a paste site like [hastebin](https://hastebin.com/).
https://gist.github.com/ModernGamingWorld/bedb13baa6565610969884b64a3f5f66

[2021-11-06 08:08] TheIllusiveC4 commented on #101
What kind of block was mined that caused the crash?

[2021-11-06 15:04] ModernGamingWorld commented on #101
astral Sorcery Block

[2021-11-06 16:00] itsdinkd commented on #100
I'm not entirely sure. I went through crash logs on the server and saw this. However, I have been getting so many reports for weeks now that Polymorph doesn't work on the dedicated servers we run for our modpack, AQM2.

[2021-11-06 21:41] TheIllusiveC4 commented on #100
Then I'm a bit stuck on this issue. It works in my own testing, and I can't find the issue from the crash log. While it does have Polymorph in the stacktrace, Polymorph is just redirecting to a vanilla method where it's actually crashing. And it's crashing from the watchdog killing the server, so I can only assume it has something to do with the server taking too long to perform the task. However,

[2021-11-06 22:50] #101 closed, assigned to TheIllusiveC4

[2021-11-06 22:51] TheIllusiveC4 commented on #101
This is a bit of a hard issue to debug. While I've attempted a fix that I think should address the issue, I can't be certain. Please test out the newest version, 0.27, and let me know if you encounter this issue again.

[2021-11-07 05:51] TheIllusiveC4 commented on #83
Polymorph 1.17.1-0.28 for Forge has been released.

[2021-11-07 05:51] #83 closed, assigned to TheIllusiveC4

[2021-11-07 12:01] Victor-Noli opened #102 "Server crash report with Polymorph and Refined Storage"
#### Versions (Be specific, do not write "latest"):
* Polymorph: polymorph-forge-1.16.5-0.27.jar
* Forge/Fabric: forge 36.2.9
#### Observed Behavior: Server crashing while we updated the mod's version
#### Expected Behavior: Not crashing?
#### Steps to Reproduce:
 Update polymorph.

Crash Log: Please use a paste site like [hastebin](https://hastebin.com/).
https://pastebin.com/PR6FBHQ8

[2021-11-07 18:39] djoveryde commented on #102
Having the same issue after updating to the latest version of Polymorph. Server starts up fine and then just hangs to the point that the player numbers when pinging the server responds with ??? and then just causes the server to shut down due to hanging.

UPDATE: 0.25 works fine. 0.26 and 0.27 have the same issue.

[2021-11-07 20:55] djoveryde opened #103 "Support for AE2 crafting terminals"
**Please describe the new feature or change.**
Currently AE2 crafting terminals don't show the toggle button to switch between item types. Would be great to add it in to support Applied Energistics 2 terminals.

**Please describe why you want this feature.**
Works fine for most terminals, but not AE2 which is a largely used mod.

[2021-11-07 21:46] TheIllusiveC4 commented on #103
It already does work with AE2. Here's it working in my test instance:

![2021-11-07_13 45 04](https://user-images.githubusercontent.com/29991504/140662981-64c4e139-71e2-42fe-a899-7d223ad1f0f9.png)

If it doesn't work for you, please open a new issue and fill out the bug report template.

[2021-11-07 21:46] #103 closed, assigned to TheIllusiveC4

[2021-11-07 21:48] djoveryde commented on #103
Hmm its not working for me. Although i'm having to use 0.25 right now due to 26 and 27 crashing my server on player join.
Is there something I need to do?

[2021-11-07 21:50] TheIllusiveC4 commented on #103
AE2 support was added in 0.26.

[2021-11-07 21:51] djoveryde commented on #103
That'll be it then. I'll have to wait for it to be fixed as I also have refined storage mod.

[2021-11-07 21:54] TheIllusiveC4 commented on #102
I can't reproduce this issue, so it might take some time for me to figure out what's going on. I have some idea, because this happened during testing at some point before I implemented a solution, but I'm not sure why it would still be happening.

Current workaround: Disable the Refined Storage integration by going to your `config` folder, locating `polymorph-integrations.toml` and set `refinedsto

[2021-11-07 21:57] djoveryde commented on #102
Ok thankyou, not sure if it helps but when the server crashed it did generate a crash report, not sure if its identical to the OP, but always good to have multiple crash reports.
https://pastebin.com/Zi1u4tJs

[2021-11-07 22:27] TheIllusiveC4 commented on #102
Alright, I'll need some help from you two since you're encountering the error and I'm not. Can you use this test build of Polymorph with Refined Storage and see if it fixes the issue:
[polymorph-forge-1.16.5-0.28-SNAPSHOT20211107.zip](https://github.com/TheIllusiveC4/Polymorph/files/7493238/polymorph-forge-1.16.5-0.28-SNAPSHOT20211107.zip)

Make sure to re-enable the integration in the config if y

[2021-11-07 22:29] djoveryde commented on #102
I'll add it in now and test it

[2021-11-07 22:38] djoveryde commented on #102
Pleased to report it is now working. No crashes when I log in.
Servers been running stable for 5 minutes now.

[2021-11-08 02:37] #102 closed, assigned to TheIllusiveC4

[2021-11-08 03:34] TheIllusiveC4 commented on #59
I've thought about this for a bit and I've decided against implementing it.

It's a convenient idea in theory, but there's a lot of overhead in what's required to adequately process and store this kind of data. There's also a "soft" implementation of this already where Polymorph remembers the last recipe and will automatically re-select the previous selection.

In addition, I'm not sure how I woul

[2021-11-08 03:34] #59 closed, assigned to TheIllusiveC4

[2021-11-10 06:42] Reshy opened #104 "Polymorph and FastWorkbench Minus Replacement Incompatibility"
Using Polymorph and FastWorkbench Minus Replacement prevents the polymorph icon from appearing on the crafting menus.

[2021-11-10 08:34] #104 closed, assigned to TheIllusiveC4

[2021-11-11 04:39] Reshy commented on #104
Looks like the bug still persists.
![2021-11-10_20 39 11](https://user-images.githubusercontent.com/2096384/141238170-a4d6319a-87e7-4200-ae02-68a7792c7bcb.png)

[2021-11-11 06:13] TheIllusiveC4 commented on #104
I'm not sure what you mean, your screenshot shows an empty crafting grid (which means no valid recipes).

[2021-11-14 08:29] Kalastra opened #105 "Sophisticated Backpacks auto-smelting compatibility"
#### Versions:
* Polymorph: 1.16.5-0.30
* Forge: 36.2.9

#### Observed Behavior:

The auto-smelting upgrade for Sophisticated Backpacks does not work with Polymorph installed (see: https://github.com/P3pp3rF1y/SophisticatedBackpacks/issues/300). The items enter the correct slots but do not start smelting.

#### Expected Behavior:

Fuel is expended to smelt the objects in the upper slot.

#### Step

[2021-11-14 09:28] TheIllusiveC4 commented on #105
Does this happen with the Smelting upgrade too or just the Auto-Smelting upgrade?

[2021-11-14 10:09] C-far opened #106 "All the recipes don't work anymore after changing dimension"
#### Versions:
* Polymorph: 1.17.1-0.29
* Forge: 37.0.109
#### Observed Behavior:
Like the title: All the recipes don't work anymore after changing dimension. (Nether, End, etc.)
#### Steps to Reproduce:
1. Install Polymorph
2. Build a Nether Portal
3. Go in the Nether
4. Back to the overworld and test any recipe

[2021-11-14 12:39] Kalastra commented on #105
Only the auto-smelter, it turns out. The un-upgraded version works as expected.

[2021-11-15 01:43] #105 closed, assigned to TheIllusiveC4

[2021-11-15 02:27] #106 closed, assigned to TheIllusiveC4

[2021-11-16 21:03] CammiePone opened #107 "[Suggestion] Add to maven"
**Please describe the new feature or change.**
Pretty much just adding Polymorph to your maven so that other mods that add their own GUIs with a crafting grid can add the button to them.

**Please describe why you want this feature.**
I have a backpack mod for Fabric that adds a crafting grid and overrides the vanilla survival screen with its own when wearing a backpack, and I want to ensure most

[2021-11-17 03:32] ffuentesm opened #108 "[1.17] crash when smelting items in modded crafting table"
I was using a moded furnace, from reworked metals (reworkedmetals-1.1-1.17.1.jar).
This was working before updating polymorph. I added some ingots to smelt and once I shift-click the coal the game crashed.
#### Versions (Be specific, do not write "latest"):
* Polymorph: polymorph-forge-1.17.1-0.30.jar
* Forge/Fabric: 37.0.109
#### Observed Behavior:
Game crashes when shift-click on coal
#### Expec

[2021-11-17 03:46] TheIllusiveC4 commented on #107
I'll do this eventually, but I should mention that the API and such necessary for other mods to add the button themselves is not at all ready for use yet.

Can you link your mod in question? Preferably I'd like to look into it and add compatibility for it on my end, which in turn helps me develop the API as I workshop the best way for other mods to interface with Polymorph and add this compatibili

[2021-11-17 04:33] CammiePone commented on #107
Ah, alright. The mod in question is [Cammie's Wearable Backpacks ](https://github.com/CammiePone/Cammies-Wearable-Backpacks).

Im working on a 2.0 update that'll make it a lot more useful on the go by giving a 3x3 crafting grid in the inventory when a backpack is equipped, which is why I wanted to give adding compat a go

[2021-11-17 06:47] #108 closed, assigned to TheIllusiveC4

[2021-11-23 04:17] thelegitdolt opened #109 "r"
* Polymorph: 0.27
* Forge/Fabric: forge
#### Observed Behavior: crash
#### Expected Behavior: not crash
#### Steps to Reproduce:
1. have the latest version of fast workbench, jei and polymorph.
2. 2. Use the jei feature to jump items to the crafting tables.
3. observe that it crashes.

crash report - https://gist.github.com/thelegitdolt/80283ca9844c187a2cb645904602a0b0
logs - https://gist.github.c

[2021-11-23 08:22] pvsmagbojos opened #110 "Polymorph stack overflow error with Drink Beer mod"
Versions:
* Polymorph: 0.31
* Forge: 36.2.9
#### Observed Behavior:
Crashes the server.
#### Expected Behavior:
A beer gets crafted.
#### Steps to Reproduce:
1. Attempt to craft a beer with a beer keg.

Crash Log:
[Related Issue](https://github.com/Lekavar/DrinkBeer-Forge1.17.1-/issues/2)
[Crash Report](https://www.toptal.com/developers/hastebin/bihufuhipe.rb)

[2021-11-23 11:15] TheIllusiveC4 commented on #110
The crash report is blank. Can you try uploading it again to a different site?

[2021-11-23 19:57] TheIllusiveC4 commented on #110
Ah actually, I see the issue now based on the report on the other mod's repository.

Update to Polymorph 0.32, that one fixed this kind of error.

[2021-11-23 19:57] #110 closed, assigned to TheIllusiveC4

[2021-11-23 20:52] #109 closed, assigned to TheIllusiveC4

[2021-11-26 08:06] nivthefox commented on #101
I was experiencing this, too.  Updating from 0.26 to 0.33 seems to have fixed it.  Just to confirm.

[2021-11-27 15:08] Minionade opened #111 "polymorph button does not appear when replaymod is installed"
#### Versions (Be specific, do not write "latest"):
* Polymorph: 0.0.14
* Forge/Fabric: Fabric 0.12.5
* Conflicting Mod: Replay Mod 2.6.1
#### Observed Behavior:
With ReplayMod installed, the Polymorph button does not appear when crafting with conflicting recipes.
#### Expected Behavior:
Polymorph button should appear when crafting with conflicting recipes
#### Steps to Reproduce:
1. Load an insta

[2021-11-28 05:03] Kzeroko opened #112 "Client side crash when rendering GUI from Draconic's fusion crafting core"
#### Versions (Be specific, do not write "latest"):
* Polymorph: polymorph-forge-1.16.5-0.31
* Forge/Fabric: Forge
#### Observed Behavior: Client side crash when opening GUI from Draconic's Fusion Crafting Core
#### Expected Behavior:  Not crashing
#### Steps to Reproduce:
1. Install polymorph with draconic evolution 1.16
2. Open Fusion Crafting Core GUI
[crash-2021-11-28_03.26.16-client.txt](http

[2021-11-28 06:54] TheIllusiveC4 commented on #112
Update to Polymorph 1.16.5-0.33+.

[2021-11-28 06:54] #112 closed, assigned to TheIllusiveC4

[2021-11-29 03:35] Purple1984 opened #113 "Fastbench"
When I try to start the game, it always says "polymorph only supports Fastbench 4.6.0 or above Currently, Fastbench is 4.5.1".

I am on Minecraft 1.16.5 on forge version.

I have looked and looked and I don't think this mod exists.
I have also checked my mod folder for it as well.

[2021-11-29 04:02] TheIllusiveC4 commented on #113
This mod: https://www.curseforge.com/minecraft/mc-mods/fastworkbench

You need to update your FastWorkbench version.

[2021-11-29 04:02] #113 closed, assigned to TheIllusiveC4

[2021-12-03 22:33] ProsperCraft opened #114 "[1.16.5] Dedicated server hard lock and recovery - in relation to Ae2 autocrafting"
When we started working on AE2 autocrafting, we started getting hard locks that would last 5-10 minutes then the server would recover, this is a warmroast profile I ran showing polymorph while it was locked.

#### Versions (Be specific, do not write "latest"):
* Polymorph: polymorph-forge-1.16.5-0.33
* Forge/Fabric: forge-1.16.5-36.2.19
* appliedenergistics2-8.4.4

#### Steps to Reproduce:
shift c

[2021-12-05 06:39] Wolfy8198 opened #115 "Crash with GenesisSMP Modpack"
* Polymorph: polymorph-fabric-0.0.13-1.16.5.jar
* Forge/Fabric: fabric 0.11.7
#### Observed Behavior: Game crashes before it loads, no error/log given.
#### Expected Behavior: Run normally, checked the solved issues already.
#### Steps to Reproduce:
1. Install GenesisSMP Modpack from CurseForge
2. Add Polymorph (I'm the creator of the modpack, there were some conflicting recipes and I want to solv

[2021-12-05 07:26] Wolfy8198 commented on #115
Opened the console thing while the modpack was opening and got this fatal error:
https://pastebin.com/89aVHfZA

[2021-12-05 10:51] An0yim0us666 opened #116 "fix this..."
i keep getting this in my crashlog when starting minecraft (1.16.5 fabric)

[11:43:39] [ForkJoinPool-1-worker-1/WARN]: The mod "cardinal-components-entity" contains invalid entries in its mod json:
- Unsupported root entry "side" at line 8 column 11
[11:43:39] [ForkJoinPool-1-worker-5/WARN]: The mod "cardinal-components-base" contains invalid entries in its mod json:
- Unsupported root entry "side

[2021-12-05 10:54] K0-RR commented on #116
Are you serious? It's not a Polymorph issue...

[2021-12-06 03:26] jeremiahwinsley opened #117 "Polymorph creates a lot of lag on large servers"
#### Versions (Be specific, do not write "latest"):
* Polymorph: 0.33
* Forge/Fabric: 36.2.19
#### Observed Behavior:
On large modpacks/servers (tested on ATM6 1.8.11), Polymorph is taking up way too much server time with the new world tick behavior.

Spark profile here (`/spark profile --timeout 30`): https://spark.lucko.me/jgvWx2yg6W

zipped in case the link expires: [spark-profile.zip](https://

[2021-12-06 04:59] TheIllusiveC4 commented on #117
That's not what Polymorph does during the world tick. Although I understand the confusion based on the naming, `getRecipeData` is just used to grab the capability that manages the recipe conflict from a block entity. It does not have any other processing or scanning logic.

Thanks for providing the Spark profile, I'll have to investigate this further to see what exactly is causing the lag issue.

[2021-12-06 19:26] An0yim0us666 commented on #116
then why do those things dissapear when i remove polymorph

[2021-12-11 07:16] TheIllusiveC4 commented on #114
I am unable to reproduce this issue on a dedicated server. I do not experience any lock-ups with using the AE2 pattern terminal as you described.

I attempted to make a guess at a possible cause and implement a tentative fix. Can you use this snapshot build and tell me if it fixes the issue on your server?
[polymorph-forge-1.16.5-0.34-SNAPSHOT20211210.zip](https://github.com/TheIllusiveC4/Polymorp

[2021-12-11 07:18] TheIllusiveC4 commented on #117
I've attempted a small fix that could help alleviate this issue. Since I do not have access to your exact world and ecosystem, I lack the ability to fully test its efficacy, which I would like to do before making this a public release. Would you mind testing this snapshot build and let me know if it helps the lag at all?
[polymorph-forge-1.16.5-0.34-SNAPSHOT20211210.zip](https://github.com/TheIllu

[2021-12-13 02:28] jeremiahwinsley commented on #117
Taken with same chunks loaded:
with 0.33: https://spark.lucko.me/dQRmu6YpyB
with 0.34: https://spark.lucko.me/yXD8kmXHD6

Seems like it's using about half the server time, but still a lot more than 0.25 (which is what we're currently using).

[2021-12-13 09:12] TheIllusiveC4 commented on #117
Hm, strange profile results. It looks like the performance issue was only partially caused by what I previously assumed. Based on those last results, I can only guess that this is caused by attempting to process a large number of tile/block entities.

I have another build that I'd like you to test if you don't mind:
[polymorph-forge-1.16.5-0.34-SNAPSHOT20211213.zip](https://github.com/TheIllusiveC

[2021-12-14 16:01] FoxMcloud5655 commented on #114
The issue isn't that the server crashes, it's that the server freezes for a long time.  Here's a link to the relevant discussion on AE2's issues page: https://github.com/AppliedEnergistics/Applied-Energistics-2/issues/5752

[2021-12-14 19:28] TheIllusiveC4 commented on #114
I never mentioned it crashing, I understand that it's a freeze. I still cannot reproduce that behavior in any way. Regardless, I'll need someone that _is_ experiencing the issue to test the snapshot build I attached in my previous comment and confirm whether or not that fixes the problem.

[2021-12-14 22:52] FoxMcloud5655 commented on #114
I was just making sure that it was clerified that the server doesn't actually crash from this; wasn't trying to correct you or anything.  Sorry if it came off that way.

I will test the snapshot build you posted as soon as I am able to.  I did notice (I think, I played for 30 minutes) that disabling the AE2 integration only on the server does fix this, but whether it's because the client receives

[2021-12-14 23:00] TheIllusiveC4 commented on #114
It's quite alright, no need for apologies. Similarly, I was also just clarifying that I understood it was not a crashing issue and I apologize if that came off as me being defensive.

That seems right. The way the integration is coded means that the server wouldn't process anything coming from the client, which I think is where the source of the issue comes from initially.

[2021-12-15 16:08] Darkere commented on #114
I can confirm a similar issue also happens from RS's integration.

Was able to run spark while it was frozen. See server thread.
https://spark.lucko.me/KHuSv2JuXz

During this profile I was not more than maybe 3 chunks away from the only RS system nearby. So I'm not sure why it gets stuck loading the chunk.

One of many crash reports we've received from users:

[crash-reports_crash-2021-12-15_06.1

[2021-12-15 23:26] TheIllusiveC4 commented on #114
For the RS issue, I think I know what's wrong and I have a fix in-dev. I'm waiting for someone to follow-up on this issue and confirm or deny the snapshot build above fixes the AE2 issue before releasing an update, but if it takes much longer then I'll just release an update with the RS fix.

[2021-12-15 23:39] ProsperCraft commented on #114
Publish and then we will test, we run a large server with players using the curseforge launcher,  it is easier to test a published mod then downing the server for everyone, putting it on the client and server and trying to reproduce it.

[2021-12-15 23:40] ProsperCraft commented on #114
I wonder what the poster on the AE2 issue meant by they got polymorph to not interact with AE2, is there a config option?

[2021-12-15 23:55] FoxMcloud5655 commented on #114
Yes, there is a config option.  I still have yet to test the snapshot due to me being sick and not playing on my computer much.  Sorry for the wait.

[2021-12-16 00:03] #117 closed, assigned to TheIllusiveC4

[2021-12-16 00:04] TheIllusiveC4 commented on #117
I've gone ahead and released the update with the above change. Please let me know if this continues to be a problem and I'll re-open this issue.

[2021-12-16 00:09] TheIllusiveC4 commented on #114
I'm wary of publishing code changes without verifying that it actually does anything, but in the interest of progress I've gone ahead and released the latest update that is meant to address this and other issues. Please let me know if this issue has been addressed or continues to be a problem.

Polymorph has a config file in the `configs` folder called `polymorph-integrations.toml`. Setting any of

[2021-12-16 01:49] ModernGamingWorld opened #118 "Server Crash on latest 1.16.5 build"
#### Versions (Be specific, do not write "latest"):
* Polymorph:
polymorph-forge-1.16.5-0.34.jar
* Forge/Fabric: Forge
#### Observed Behavior:
#### Expected Behavior:
#### Steps to Reproduce:
1. Server Crashed
2.
3.
...

Crash Log: Please use a paste site like [hastebin](https://hastebin.com/).
[crash-2021-12-15_19.25.22-server.txt](https://github.com/TheIllusiveC4/Polymorph/files/7724003/crash-20

[2021-12-16 01:55] TheIllusiveC4 commented on #118
Does it crash on startup or was someone doing something on the server?

[2021-12-16 01:58] ModernGamingWorld commented on #118
Someone was playing on the server and it crashed with a StackOverflow error

subi — Today at 7:26 PM
crash on monumental server, "stack overflow"

[2021-12-16 02:24] TainanRezende commented on #114
the update that soutaram solving this problem didn't help the problem, I'm going through the same problem as the one reported in this topic

[2021-12-16 03:32] #118 closed, assigned to TheIllusiveC4

[2021-12-16 04:21] TheIllusiveC4 commented on #114
So using Polymorph 0.34+ does not fix this issue for you?

Can someone list out some detailed reproduction steps? I'm not really sure why I am unable to reproduce this despite the fact that multiple people are experiencing this.

[2021-12-16 09:01] TheIllusiveC4 commented on #114
Alright, second attempt at this. Everyone try out 1.16.5-0.36 and let me know if the issue persists.

[2021-12-16 10:38] FoxMcloud5655 commented on #114
From all of what I've seen, it's a lag issue due to having a massive number of types of items in your ME System.

[2021-12-16 12:29] TainanRezende commented on #114
so this bug/problem is intermittent and occurs after having many items and recipes in the applied system and when there are more people on the server or it can occur when there is only one, it is very fickle but it happens I re-added your mod again to test it because I had taken because i couldn't play and i'm testing until agra apparently resolvable but if dnv happens i immediately run here to ta

[2021-12-16 20:52] itsdinkd commented on #116
because its a cardinal components issue lmfao Polymorph just uses its API. and also, that **warning** does not affect anything

[2021-12-20 11:05] starmun-0010 commented on #114
Experiencing a similar issue in starpack titan because of the interaction between Polymorph and Refined storage.
I have only been able to reproduce on the server world and not on the client only local world.
**Polymorph Versions Tested**
0.33, 0.36

Steps to reproduce on starpacks server.

1. Refined storage system should have dozens of items in it.
2. Leave a recipe to be crafted inside the craft

[2021-12-20 15:14] TheIllusiveC4 commented on #114
@starmun-0010 Do you have a crash log for the test instance with Polymorph 0.36? The one you've attached has version 0.33, which doesn't have the fix I recently implemented so that's not of much relevance unfortunately.

[2021-12-20 17:44] starmun-0010 commented on #114
Yes, crash-log with 0.36. Seems like the same stack trace..
[crash-2021-12-17_18.20.48-server.txt](https://github.com/TheIllusiveC4/Polymorph/files/7747058/crash-2021-12-17_18.20.48-server.txt)

[2021-12-21 04:21] TheIllusiveC4 opened #120 "Refined Storage Integration Deadlock on World/Server Load"
#### Versions (Be specific, do not write "latest"):
* Polymorph: 1.16.5-0.36
* Forge/Fabric: Forge 1.16.5-36.2.20
#### Observed Behavior:
The Refined Storage integration causes deadlocks in certain situations due to an error during server/world loading.
#### Expected Behavior:
Servers/worlds should load normally with the Refined Storage integration active.
#### Steps to Reproduce:
Note: I am unabl

[2021-12-21 04:26] TheIllusiveC4 commented on #114
I'm working on the RS issue again and may have another possible solution. But while the issue has similar symptoms, the cause is entirely unrelated to this AE2 issue. I'd like to move any further discussion about the RS issue to a new thread I opened specifically for it: https://github.com/TheIllusiveC4/Polymorph/issues/120

And as for this issue with AE2, is anyone able to verify whether or not t

[2021-12-21 05:18] #120 closed, assigned to TheIllusiveC4

[2021-12-21 06:57] FoxMcloud5655 commented on #114
I have tested this extensively today, and I can't get the issue to occur no matter what I do.  I think it's safe to close this.  Thank you for your help!

[2021-12-21 07:38] TheIllusiveC4 commented on #114
Alright, great! Thank you for the confirmation, I'll go ahead and consider this resolved until someone says otherwise.

[2021-12-21 07:38] #114 closed, assigned to TheIllusiveC4

[2021-12-23 07:55] TheIllusiveC4 commented on #95
This should now be fixed in Polymorph 0.15-1.17.1+.

[2021-12-23 07:55] #95 closed, assigned to TheIllusiveC4

[2021-12-23 07:56] TheIllusiveC4 commented on #96
This compatibility is now working as of Polymorph 0.15-1.17.1+.

[2021-12-23 07:56] #96 closed, assigned to TheIllusiveC4

[2021-12-23 07:57] TheIllusiveC4 commented on #97
I rewrote the whole command in Polymorph 0.15-1.17.1+ so this issue should be resolved. If not, it's likely of a different nature and you should open up a new issue with the new error logs if that occurs.

[2021-12-23 07:57] #97 closed, assigned to TheIllusiveC4

[2021-12-23 07:57] TheIllusiveC4 commented on #99
I changed this mixin in Polymorph 0.15-1.17.1+ so this should be fixed now.

[2021-12-23 07:57] #99 closed, assigned to TheIllusiveC4

[2021-12-23 08:00] TheIllusiveC4 commented on #100
I'm unfortunately still not sure what the cause of this issue was but I rewrote a lot of the mod in the latest update so try that out and let me know if any more errors of this nature still occur.

[2021-12-23 08:00] #100 closed, assigned to TheIllusiveC4

[2021-12-23 08:03] TheIllusiveC4 commented on #116
I'm not sure if this was really erroneous or due to an outdated CCA or something, but I've updated the 1.16.5 Polymorph version's dependencies in the latest update which should rule out anything on Polymorph's side regarding this.

[2021-12-23 08:03] #116 closed, assigned to TheIllusiveC4

[2021-12-23 08:32] TheIllusiveC4 commented on #111
I was unable to reproduce this, loading these versions of the mods I was able to get the button to appear as usual. Regardless, try out the newest version of Polymorph (which was rewritten for the new update) and the newest version of Replay Mod and let me know if the issue persists for you.

[2021-12-23 08:32] #111 closed, assigned to TheIllusiveC4

[2021-12-23 08:58] TheIllusiveC4 commented on #115
I'm not completely sure what's going on here because there's so many mods; however, I do know that in my testing I can just add Cardinal Components API by itself without Polymorph and still get this same crash. So this is likely a CCA issue, not Polymorph.

[2021-12-23 08:58] #115 closed, assigned to TheIllusiveC4

[2021-12-23 08:59] #88 closed, assigned to TheIllusiveC4

[2021-12-23 08:59] #94 closed, assigned to TheIllusiveC4

[2021-12-23 21:48] TheRanker opened #121 "Change fabric.mod.json to support =>1.17."
**Please describe the new feature or change.**
Update mod to accept 1.18.1 on curseforge and edit the fabric.mod.json to change "minecraft": "1.17.x" to "minecraft": ">=1.17").

Tested in 1.18.1 enviroment with 226 mods. Fixed all my issues.

**Please describe why you want this feature.**

Unable to add to modpack cause curseforge version fails to load.

Fabric

[2021-12-23 21:58] TheIllusiveC4 commented on #121
A proper 1.18.1 update will be released soon.

[2021-12-23 21:58] #121 closed, assigned to TheIllusiveC4

[2021-12-25 09:38] JasonKillsUs opened #122 "sudden crash while playing"
#### Versions (Be specific, do not write "latest"):
* Polymorph: polymorph-forge-1.18.1-0.33.jar
* Forge/Fabric: Forge 39.0.8
#### Observed Behavior: sudden crash while playing in a new 1:18.1 World
#### Expected Behavior:  none
#### Steps to Reproduce: ?
1. thanks for looking into it, could be due to  forge experimental behavior
2.
3.
...

Crash Log: Please use a paste site like [hastebin](https:

[2021-12-25 23:57] Klouver-github opened #123 "Polymorph Crafting bug"
when I am using the polymoprh to craft anything or something like a boat it doesn't show a boat instead it shows sticks to craft instead. I dont have a log but I have screenshots
#### Versions (Be specific, do not write "latest"):
* Polymorph:
* Forge/Fabric: Forge
#### Observed Behavior: Crafting a boat with oak gives sticks no boats
#### Expected Behavior:  i just wanted a boat not sticks
#### S

[2021-12-27 19:39] JezSartori opened #124 "Nuclear Science crash 1.17.1"
#### Versions (Be specific, do not write "latest"): 1.17.1
* Polymorph: forge-1.17.1-0.32
* Forge 37.1.1
* Nuclear Science 0.4.1-1
* Electrodynamics 0.5.1-2
* JEI 8.3.0.49
#### Observed Behavior: crash
#### Expected Behavior: none
#### Steps to Reproduce:
1. Install Electrodynamics, Nuclear Science, JEI and Polymorph;
2. Press E, arrow to the right of Crafting tab (Show Recipes), word Crafting (Sh

[2021-12-29 22:17] zachsai opened #125 "Polymorph causes a crash with Hexerei mod"
#### Versions (Be specific, do not write "latest"):
* Polymorph: 0.33
* Forge/Fabric: 39.0.9
Polymorph causes a crash with Hexerei mod
The dev of Hexerei thinks its because polymorph doesnt know how to handle his custom recipes
https://pastebin.com/hY6ve73R

[2021-12-29 22:19] #123 closed, assigned to TheIllusiveC4

[2021-12-31 07:56] BugmanBugman opened #126 "1.18.1 Polymorph crashes while opening furance"
#### Versions (Be specific, do not write "latest"):
* Polymorph: -1.18.1-0.33
* Forge/Fabric: 39.0.9
#### Observed Behavior:  crash
#### Expected Behavior: to not crash
#### Steps to Reproduce:
1. open up furnace
2. boom
3. crash
...

Crash Log: Please use a paste site like [hastebin](https://hastebin.com/).
https://bytebin.lucko.me/4Z20CkUuoM

[2022-01-01 02:33] ModernGamingWorld opened #127 "Crash from conflict between SophisticatedBackpacks and Polymorph"
https://github.com/P3pp3rF1y/SophisticatedBackpacks/issues/374

[2022-01-01 04:09] TheIllusiveC4 commented on #126
Duplicate of https://github.com/TheIllusiveC4/Polymorph/issues/122

[2022-01-01 04:09] #126 closed, assigned to TheIllusiveC4

[2022-01-01 04:10] TheIllusiveC4 commented on #125
Duplicate of https://github.com/TheIllusiveC4/Polymorph/issues/122

[2022-01-01 04:10] #125 closed, assigned to TheIllusiveC4

[2022-01-01 05:21] Potatomonium commented on #127
I'm also getting this crash when I think it calls the Smelter upgrade
https://pastebin.com/y1dcTQeq

[2022-01-01 09:08] #122 closed, assigned to TheIllusiveC4

[2022-01-01 09:08] #124 closed, assigned to TheIllusiveC4

[2022-01-01 09:08] #127 closed, assigned to TheIllusiveC4

[2022-01-01 09:14] magcicada commented on #127
Also crash at 1.16.5 version, plz update 1.16.5. @TheIllusiveC4

[2022-01-01 09:23] magcicada opened #128 "the issue #127 also get on the 1.16.5 version"
The issue #127 also happen at 1.16.5, plz fix at 1.16.5.

[2022-01-01 09:38] TheIllusiveC4 commented on #128
You don't need to create a new issue, just commenting on the existing one is enough.

[2022-01-01 09:38] #128 closed, assigned to TheIllusiveC4

[2022-01-02 23:18] ModernGamingWorld opened #129 "Ae2 Client crash to desktop"
#### Versions (Be specific, do not write "latest"):
* Polymorph: polymorph-forge-1.18.1-0.34.jar
* Forge/Fabric: Forge
#### Observed Behavior: a Fix
#### Expected Behavior: A Fix
#### Steps to Reproduce:
1. Launched my custom modpack, Hit E and crash straight to desktop
2.
3.
...

Crash Log: Please use a paste site like [hastebin](https://hastebin.com/).
[crash-2022-01-02_17.16.00-client.txt](http

[2022-01-02 23:21] itsdinkd commented on #129
Also happens on Fabric with latest AE2

[code]

[2022-01-02 23:21] itsdinkd opened #130 "Polymorph Crash with latest ae2 [1.18.1 fabric]"
Updating to Latest AE2 will cause a client crash when client joins world and presses any key.

[code]

[2022-01-02 23:24] TheIllusiveC4 commented on #130
Duplicate of https://github.com/TheIllusiveC4/Polymorph/issues/129

[2022-01-02 23:24] #130 closed, assigned to TheIllusiveC4

[2022-01-02 23:55] itsdinkd commented on #130
#129 is re; forge, this is fabric.

[2022-01-03 00:41] TheIllusiveC4 commented on #130
My issue tracking isn't that strict. As long as the cause is the same, issues can go under the same thread even if they occur on different loaders. You just have to mention that is the case, which you have already.

[2022-01-03 01:02] #129 closed, assigned to TheIllusiveC4

[2022-01-03 10:59] DraLUSAD opened #131 "Mod requires AE2 to run"
Yet, it doesn't state this on the mod page
![Screenshot 2022-01-03 105846](https://user-images.githubusercontent.com/57923958/147923181-a156ae7c-01f1-4a8f-aec7-a5745ac4c239.png)
,

[2022-01-03 11:03] TheIllusiveC4 commented on #131
Whoops, that's not right. I'll fix that momentarily.

[2022-01-03 11:18] #131 closed, assigned to TheIllusiveC4

[2022-01-06 23:51] Shibva opened #132 "[1.16.5] Cross-mod compatability wtih the Storage actuator GUI (Occultism)"
**Please describe the new feature or change.**
as the title insitsts, add support fo the crafting/storage GUI added by Occultism's Dimensional Storage Actuator

**Please describe why you want this feature.**
it would be nice and it makes crafting conflicts easier to handle since it does have a crafting table in it and it does not seem to have polymorph "recipe shift" in it

to ensure that both thi

[2022-01-08 18:50] Idefkftt opened #133 "Crash Report"
#### Versions (Be specific, do not write "latest"):
* Polymorph: 1.18.1-0.35
* Forge/Fabric: 39.0.10
#### Observed Behavior: Game crashes on opening inventory
#### Expected Behavior: Not
#### Steps to Reproduce:
1. Load mods
2. Load into world
3. Open inventory
4. Crash

Crash Log: (https://crashy.net/MGmsAhUU7j6T8vqkKr6d)

It looks like it couldn't read something in AE2 so I'm not sure if this wo

[2022-01-08 19:11] TheIllusiveC4 commented on #133
Update to the latest AE2 (10.0.0-beta.3).

[2022-01-08 19:11] #133 closed, assigned to TheIllusiveC4

[2022-01-09 12:41] Aaron995 opened #134 "Shapeless crafting recipe conflict not being recognised"
#### Versions (Be specific, do not write "latest"):
* Polymorph: 0.0.18-1.18.1
* Fabric: 0.12.12
#### Observed Behavior: Having a conflict of a shapeless crafting recipe from both ValleyCraft and Farmers Delight for a milk bottle. Their recipe is both the same ingredients but Polymorph isn't allowing me to choose what to craft when I put the ingredients in.
Their recipes are:
https://bitbucket.org

[2022-01-09 17:47] TheIllusiveC4 commented on #134
I can't reproduce, installing those two mods I still get the choice between the two.

Can you reproduce this with _only_ Farmer's Delight, ValleyCraft, and Polymorph installed? Are you using the vanilla crafting table or something else?

[2022-01-09 18:59] Aaron995 commented on #134
Hi I found the issue!

FastBench: https://www.curseforge.com/minecraft/mc-mods/fastbench-for-fabric
seems to break something with polymorph

[2022-01-10 03:36] Clownhustler opened #135 "No Quark alternative for Astral Sorcery marble"
#### Versions (Be specific, do not write "latest"): FTB Endeavour
* Polymorph: 1.16.5-0.37
* Forge/Fabric: Forge: Forge 36.2.19
* FTB Endeavour 1.8
* Minecraft 1.16.5
#### Observed Behavior: Placing astral sorcery marble 2x2 in crafting grid provides to alternatives
#### Expected Behavior: Should provide option for quark "polished marble"
#### Steps to Reproduce:
1. Place Astral Sorcery marble in

[2022-01-11 05:56] Wolfy8198 opened #136 "Not able to choose Ender Block craft"
#### Versions (Be specific, do not write "latest"):
* Polymorph: polymorph-fabric-0.0.18-1.18.1.jar
* Forge/Fabric: Fabric 0.12.12
#### Observed Behavior:
When trying to craft an Ender Block from BetterEnd, it has a conflict with the Ender Pearl block from Architect's Pallete Fabric, If I try to choose the Ender Block, the block in the output slot of the crafting table stays an Ender Pearl Block.

[2022-01-11 06:31] TheIllusiveC4 commented on #136
Do you have FastBench installed?

[2022-01-11 06:31] Wolfy8198 commented on #136
No

[2022-01-11 06:32] Wolfy8198 commented on #136
I do have REI installed, though, if that makes any difference

[2022-01-11 07:24] klikli-dev commented on #132
@TheIllusiveC4 Based on #107 I'm not sure what I can/should do on my end, but if there is, please let me know. Integration would be neat as more and more people "complain" about the lack of polymorph in my storage UI :D

[2022-01-11 07:24] TheIllusiveC4 commented on #136
Just making sure I got this right, you _can_ choose the Ender Block but the output never actually changes right?

Does this still happen if you test this with _only_ Polymorph, BetterEnd, and Architect's Palette installed?

[2022-01-11 07:26] Wolfy8198 commented on #136
Give me like 10 minutes, I didn't try that because all of those mods are still in BETA and I have to download them manually

[2022-01-11 07:46] Wolfy8198 commented on #136
I just checked, and yes, it still happens with only those mods and their dependencies installed

[2022-01-11 07:47] Wolfy8198 commented on #136
Here's the mods I have installed in the test profile.
![Screenshot 2022-01-11 024652](https://user-images.githubusercontent.com/64490202/148901751-02476b85-d693-40e4-ae78-b0e48faf4806.png)

[2022-01-11 12:42] emanuele246gi commented on #85
It's fixed, thanks and sorry for the late reply!

[2022-01-11 16:07] TheIllusiveC4 commented on #135
This is not a bug. The Quark recipe for Polished Marble specifically only takes Quark marble, nothing else. If you want this to work, you need to make a new recipe yourself for Quark Polished Marble that also accepts Astral Sorcery Marble.

You might need to go into Creative mod first, or create a new world with Cheats enabled. You need elevated permissions to run the command.

[2022-01-11 16:07] #135 closed, assigned to TheIllusiveC4

[2022-01-12 21:20] TheIllusiveC4 commented on #136
I've been doing some investigating, and I think this is a niche issue with BetterEnd. Now, I'm not super familiar with their code-base so I could have easily missed something, but it seems like they're doing some non-standard recipe registration and Polymorph does not receive any recipe when it tries to call this when selecting their recipe:

https://github.com/TheIllusiveC4/Polymorph/blob/99fcab8

[2022-01-13 00:11] TheIllusiveC4 commented on #136
I've made a bug report on BetterEnd's issue tracker in order to better investigate the issue. Please follow any potential updates there as well.

[2022-01-13 16:35] TheIllusiveC4 commented on #136
This issue should be resolved now as of the latest BCLib release (1.2.3+).

[2022-01-13 16:35] #136 closed, assigned to TheIllusiveC4

[2022-01-13 18:31] #132 closed, assigned to TheIllusiveC4

[2022-01-13 18:32] Shibva commented on #132
Thanks

[2022-01-13 19:07] #134 closed, assigned to TheIllusiveC4

[2022-01-15 01:08] MyelinSchroder opened #141 "Crashing On Startup"
#### Versions (Be specific, do not write "latest"):
* Polymorph: 1.18.1-0.36
* Forge/Fabric: Forge 39.0.5
#### Observed Behavior: Crashing on startup
#### Expected Behavior: Making it at least to the main menu
#### Steps to Reproduce: Adding Polymorph to my pack (All The Mods 7, plus I added Cyclic 1.18.1-1.6.7 , Storage Drawers 1.18.1-10.0.1 , Explorer's Compass 1.18.1-1.1.2 , Veinmining 1.18.1-0

[2022-01-15 04:03] TheIllusiveC4 commented on #141
§7Currently, §3sophisticatedbackpacks§r§7 is §o1.18-3.12.1.433

Update Sophisticated Backpacks to 3.15.0+.

[2022-01-15 04:03] #141 closed, assigned to TheIllusiveC4

[2022-01-15 20:56] MyelinSchroder commented on #141
Is there a way to keep the mods in a pack up to date without checking each one manually for updates? Version checker doesn't seem to be updated for 1.18

[2022-01-16 03:38] Syhlo opened #142 "[Feature] Scroll through results"
It would be nice if you could hover over the icon in the GUI and simply scroll up (next result) or down (last result) to switch between the possible results.

[2022-01-16 05:32] LunarFactory opened #143 "[Suggestion] Thermal Series Support"
**Please describe the new feature or change.**

Thermal Series Support for Polymorph.

**Please describe why you want this feature.**

In thermal Series, there is **Redstone Furnace**. It is almost same with vanilla furnace, but it costs FE. However, Polymorph does not support this furnace, so I cannot change recipe conflict.

In my case, Quartz glass in Better Nether Reforged / Silicon in Refined

[2022-02-05 01:01] Boolyman opened #144 "Extended Crafting compat"
Extended Crafting is a popular mod that adds additional crafting tables.  It would be spectacular if Your Polymorph would work with their 3x3 table.

**Please describe why you want this feature.**

Because Extended Crafting and Polymorph are both very popular, and I am surprised noone has asked for this yet.  Also, I need both in my upcoming pack.

[2022-02-06 02:55] CrusaderRabbit opened #145 "Support for Better Nether/Better end/Blockus"
Better Nether and Blockus have a conflict between nether sandstone. I am not sure if there are any other conflicts between these three mods but included them in case

[2022-02-07 21:19] TheIllusiveC4 opened #146 "Crash with Sophisticated Backpacks Compatibility on 1.18.1"
The newest Sophisticated Backpacks ([1.18.1-3.15.9.533](https://www.curseforge.com/minecraft/mc-mods/sophisticated-backpacks/files/3640344)) has recently moved around some of the code that makes the Polymorph integration outdated and this needs to be updated to prevent a crash with that particular version onwards.

[2022-02-07 22:19] #146 closed, assigned to TheIllusiveC4

[2022-02-08 01:02] Heroncustom opened #147 "Current update crashes modpack"
#### Versions (Be specific, do not write "latest"):
* Polymorph: polymorph-forge-1.18.1-0.37.jar
* Forge/Fabric: Forge 39.0.66
#### Observed Behavior: Mod pack crash on start up exit code 0 no crash log submitted.
#### Expected Behavior: mod pack to load lol
#### Steps to Reproduce:
1. Reloaded without the last three updated mods. elimination brought me to polymorph
2. reloaded with polymorph disa

[2022-02-08 03:20] TheIllusiveC4 commented on #147
No crash log? There's nothing that gets generated in your `crash-reports` folder?

If there isn't, there's not much for me to go on. The only thing that got updated was the Sophisticated Backpacks compatibility, so make sure that mod is updated as well (although that wouldn't result in a crash, but it's the only thing it could be).

[2022-02-08 03:52] Heroncustom commented on #147
Ye the no crash log kinda bugs me. First time compiling a pack and its not
the first time its happened.
No worries. honestly was just trying to bring it to your attention.
Ill check Sop backpacks as it is installed too.
thanks for the response, love your work!

On Mon, Feb 7, 2022 at 10:20 PM C4 ***@***.***> wrote:

[2022-02-09 01:53] Heroncustom commented on #147
Just wanted to update you in case it helps.
updated to forge 39.0.75 and it still won't load with Polymorph enabled.
i tried un installing it and reinstalling, same issue.

now im getting a different exit code, but still no crash report.........

im attaching two screenshots.  Its mentioning configs but the one
screenshot is my current untouched config for
polymorph.

Honestly Im not trying to bug

[2022-02-09 02:02] TheIllusiveC4 commented on #147
If you've attached any screenshots, then I don't see anything. I don't think GitHub can receive screenshots attached in an email reply.

[2022-02-11 17:14] Coraline77447 commented on #147
I'm having the same issue but with my personal modpack and I've done some testing and I can confirm that the latest version of Polymorph with the latest version of Sophisticated Backpacks aren't working together.

I had thought that Modern UI was causing this but I took out nearly all of the mods that I'm going to play with today but Polymorph and Sophisticated Backpacks and sure enough the game c

[2022-02-11 17:14] Coraline77447 commented on #147
Apparently your compat integration didn't go as planned, since one of the mixins that's responsible for compatibility integrations in Polymorph is failing to apply compatibility integrations with Sophisticated Backpacks.

But what's odd to me is the fact that yesterday both of these mods were working just fine in my mod list called Cora Tinkers for my modded singleplayer world with the same name b

[2022-02-11 17:26] Heroncustom commented on #147
I updated sophisticated backpacks to their beta version, polymorphs working
now.....

On Fri, Feb 11, 2022, 12:15 PM Patrick Russell ***@***.***>
wrote:

[2022-02-11 17:34] Coraline77447 commented on #147
I am currently using their beta version... (sophisticatedbackpacks-1.18.1-3.15.9.533)

I'm gonna test out Polymorph 0.35 with the version of Sophisticated Backpacks it's bounded to instead if the beta version (hope it's not bound to that beta version of Sophisticated Backpacks).
I'll report my findings cause their beta version isn't working for me with Polymorph 0.35 now even tho they were working

[2022-02-11 18:26] Coraline77447 commented on #147
OMFG.... I'd just finally realized that I'm SOOOOOO dumb because my mod list (Cora Tinkers) that I was playing with yesterday has the latest version of Polymorph (0.37) but Cora World 2 mod list has 0.35 and I thought that I'd copied the latest version to Cora World 2 today but somehow I didn't even tho I thought that I did, so every single little thing that I've said earlier IS ALL FOR....nothing

[2022-02-11 22:24] TheIllusiveC4 commented on #147
It's alright, you can just leave it as it is. I'll be closing this issue as it seems the problem is solved as long as Polymorph and Sophisticated Backpacks are both updated.

[2022-02-11 22:24] #147 closed, assigned to TheIllusiveC4

[2022-02-17 13:54] emanuele246gi opened #148 "Support for Crafting Tweaks"
**Please describe the new feature or change.**
Support for Crafting Tweaks

**Please describe why you want this feature.**
The Polymorph's icon doesn't always appear when when I use this mod

[2022-02-17 22:47] TheIllusiveC4 commented on #148
I just tested it with Crafting Tweaks and it works fine. What do you mean by "doesn't always appear"? Which recipe conflicts specifically are you trying when the icon doesn't appear? Please note that the icon only shows up when a recipe conflict is detected.

[2022-02-17 23:07] TheIllusiveC4 commented on #145
As far as I can tell, the Soul Sandstone recipes are identified as a conflict by Polymorph. However, choosing an output seems to be bugged in this particular instance. So I'm going to re-categorize this as a bug and investigate accordingly.

[2022-02-18 19:39] CrusaderRabbit commented on #145
You can close this. I got it working myself via config and better nether dev team said the recipes were re-added in a later version so it was more a fault with that mod I think.

[2022-02-18 22:58] #145 closed, assigned to TheIllusiveC4

[2022-02-19 08:27] qyl27 opened #149 "Performance low with Polymorph."
I just add Polymorph for my modded server. But I found the performance is worse and worse.

### Some additional info:
Minecraft: 1.18.1
Server brand: Arclight
Polymorph: 1.18-0.37
Forge: 39.0.59
Spark report: https://spark.lucko.me/RfNoUVUuEN

[2022-02-19 10:41] emanuele246gi commented on #148
Sorry, my bad, it was another mod which I didn't add in my pack, not Polymorph, thank you for the response tho. Keep up with the good work on this mod ^^

[2022-02-19 10:41] #148 closed, assigned to TheIllusiveC4

[2022-02-26 08:48] #144 closed, assigned to TheIllusiveC4

[2022-02-26 08:48] #149 closed, assigned to TheIllusiveC4

[2022-02-26 15:23] aerialspring opened #150 "CRASHING: Interaction with Refined Storage causes crash"
#### Versions (Be specific, do not write "latest"):
* Polymorph: 0.37 and 0.38 (updating did not fix issue)
* Forge/Fabric: 39.0.79 and 39.0.85 (updating did not fix issue)
#### Observed Behavior: Server crashes when breaking Refined Storage grids - cause identified as Polymorph (see crash log)
#### Expected Behavior: Not crashing.
#### Steps to Reproduce:
1. Break RS grid by any means - hand, pic

[2022-02-26 16:20] aerialspring commented on #150
Disabling Polymorph integration for RS and RS addons resolves the crash, but we would like to have this functionality available in RS crafting ideally.

[2022-02-27 00:41] #150 closed, assigned to TheIllusiveC4

[2022-02-27 00:44] aerialspring commented on #150
Has this been fixed?

[2022-02-27 00:46] TheIllusiveC4 commented on #150
Should be, you can test it once CF approves the 0.39 version.

[2022-02-27 00:47] aerialspring commented on #150
Wonderful!! Thank you :)

[2022-03-01 08:57] TheIllusiveC4 commented on #143
While I am interested in providing Thermal support, I started looking into this and accomplishing this is actually a lot trickier than it seems due to how Thermal's recipes are structured. It's not going to be easy, so I'm not sure when or even if this will be implemented.

[2022-03-01 09:38] Toma400 opened #151 "Flickering of Polymorph button if Tag output is introduced"
#### Versions (Be specific, do not write "latest"):
* Polymorph: 0.38
* Forge/Fabric: Forge 1.16.5
#### Observed Behavior: when you use mods such as Immersive Engineering and Create altogether, the button for polymorph flickers during smelting. It is probably due to output being Tag and counting all tagged items as outputs (so all registered for IE/Create/TiC/etc mods).
#### Expected Behavior: No

[2022-03-01 09:45] Toma400 opened #152 "Recipe button freezing in one choice after one craft"
#### Versions (Be specific, do not write "latest"):
* Polymorph: 0.38
* Forge/Fabric: Forge 1.16.5
#### Observed Behavior: wherever I try to craft few elements at one go, while some of them have multiple outputs, if I change output of first crafting, I'm no longer able to see the button. I need to exit the GUI and re-click on the crafting table to be able to switch output again.
#### Expected Beha

[2022-03-01 09:49] Toma400 opened #153 "Setting default output value"
**Please describe the new feature or change.**

This feature would introduce that you could choose which one of the recipes will show as default (in best implementation: being recognised by crafting table or smelter, even if used without GUI [injecting items by hopper]).
This way, we don't need to constantly switch between outputs, especially if we always need/prefer to craft the second/third/etc

[2022-03-01 09:56] Toma400 commented on #153
Sorry for so many bugs/features reported today, I just didn't report them at a time I first encountered them ^^'

[2022-03-01 12:06] TheIllusiveC4 commented on #151
I cannot reproduce your issue. Here are my steps:

1. I installed Immersive Engineering, Create, and Tinkers' Construct alongside Polymorph.
2. I obtained some Tinkers' Construct Copper Ore.
3. I placed the ore into a vanilla Furnace.
4. The button does not flicker at all, as expected. I can also choose between Create and Tinkers' Construct Copper Ingots as the output successfully.

Are you able t

[2022-03-01 12:14] TheIllusiveC4 commented on #152
I cannot reproduce your issue. Here are my steps:

1. I installed BetterNether Reforged alongside Polymorph.
2. I open the vanilla Crafting Table and place 4 vanilla Basalt blocks as needed for the vanilla Polished Basalt recipe.
3. Polymorph identifies a conflict and shows the vanilla Polished Basalt and BN's Basalt Stalactite as possible outputs.
4. The Basalt Stalactite was the default, so I ch

[2022-03-02 02:47] shiskibab opened #154 "Crash on launch"
I when i launch my pack it just crashed and says
The game crashed whilst rendering overlay
Error: java.lang.IllegalAccessError: class net.minecraft.client.resources.language.LanguageManager tried to access private field net.minecraft.client.resources.language.ClientLanguage.f_118910_ (net.minecraft.client.resources.language.LanguageManager and net.minecraft.client.resources.language.ClientLanguage

[2022-03-02 04:29] TheIllusiveC4 commented on #154
Please fill out the bug report template. You need to at least give me the Polymorph version and the full crash log. If you don't know where that is, it's in the `crash-reports` folder of your instance folder. Without a full crash log, I can't tell anything because the snippet you posted doesn't point to Polymorph anywhere.

Edit: Also, your Forge version is quite old, try updating it as well and s

[2022-03-02 06:26] Cicopath opened #155 "Crash with World Generation"
#### Versions (Be specific, do not write "latest"):
* Polymorph: 1.18.1-0.39
* Forge: 1.18.1-39.1.1
#### Observed Behavior: When generating new chunks in the Nether, my Minecraft crashes, and the crash report does not seem to provide sufficient information.
#### Expected Behavior: When loading in the Nether, I expect my Minecraft to load the chunks normally without any crashes.
#### Steps to Repro

[2022-03-02 06:26] Cicopath commented on #155
This was a crash log previous to the crash log posted above: https://pastebin.com/9z4pvwkS

[2022-03-02 06:54] TheIllusiveC4 commented on #155
When you reported it to them, did you send them both of your crash logs or just one of them? If so, which one? I ask because the second crash report is fairly vague, but the first crash report (the one you included in your initial post) is fairly explicit and shows that it's crashing from a TerraBlender method.

[2022-03-02 06:58] Cicopath commented on #155
The one I included in my initial post was half an hour ago. The second one was created hours ago, which is the one I sent them. Should I send the TerraBlender author the crashlog I initially posted here?

[2022-03-02 07:02] TheIllusiveC4 commented on #155
Yes, I recommend sending them the initial crash log you posted here. It should be fairly straightforward to see that it is a TerraBlender issue, but perhaps the author has other insights that I am not seeing.

[2022-03-02 07:03] Cicopath commented on #155
Alright, will do.

I also wanted to provide an update: I created a new world with the exact mods, and oddly enough, no crash is occurring in the Nether. I don't know why or how. I will test with that specific seed in a new world.

Thank you for your responses!

[2022-03-02 07:04] TheIllusiveC4 commented on #155
I'll close this issue for now but if any other information comes up that warrants my investigation again, feel free to comment again and I'll re-open it.

[2022-03-02 07:04] #155 closed, assigned to TheIllusiveC4

[2022-03-02 10:51] shiskibab commented on #154
what template ?
im useing forge 39.1.2
and polymorph 0.39
[crash-2022-03-02_11.48.52-client.txt](https://github.com/TheIllusiveC4/Polymorph/files/8168965/crash-2022-03-02_11.48.52-client.txt)

[2022-03-03 03:05] PurpleHel opened #156 "Not working with Tinker's 1.18.1"
#### Versions (Be specific, do not write "latest"):
* Polymorph: polymorph-forge-1.18.1-0.39
* Forge/Fabric: forge 39.1.0
* TConstruct-1.18.1-3.4.1.46
#### Observed Behavior: no button on crafting station
#### Expected Behavior: button on crafting station
#### Steps to Reproduce:
1. put thing in crafting station that has multiple possible outputs
2. look for polymorph button
3. be sad when it's no

[2022-03-03 05:29] TheIllusiveC4 commented on #154
[code]

From your crash report, it looks like it's an issue with some mod called HammerLib. Try either updating the mod, re-installing it, or reporting this to the developer.

[2022-03-03 05:29] #154 closed, assigned to TheIllusiveC4

[2022-03-04 09:45] UsernameNotActive opened #157 "Not working"
#### Versions (Be specific, do not write "latest"):
* Polymorph: polymorph-forge-1.18.1-0.34
* Forge/Fabric: forge 1.18.1
#### Observed Behavior: When there is one or more datapacks, the polymorph button in the crafting grid does not show up.
#### Expected Behavior:
#### Steps to Reproduce:
1. have at least 1 datapack
2.
3.
...

Crash Log: Please use a paste site like [hastebin](https://hastebin.c

[2022-03-04 21:35] TheIllusiveC4 commented on #157
I cannot reproduce your issue. I always test with datapacks as the way I implement conflicts into my environment, so it would be very difficult for the mod to have a bug of this general nature.

1. Your Polymorph version is a bit outdated, try updating to the latest version.
2. Are you sure that your datapacks work?
3. What recipe conflict did you test in the crafting table?
4. What kind of crafti

[2022-03-05 09:20] UsernameNotActive commented on #157
I updated the polymorph mod to the latest version and I still have this issue. I tried making a new world without any datapacks and the polymorph mod does work with all the other mods I have installed, however when I add a datapack it stops working. For reference I am using the vanilla tweaks and technical enchants datapack.

[2022-03-05 09:26] TheIllusiveC4 commented on #157
Okay, please answer the rest of the questions and some additional ones:

1. What recipe conflict did you test in the crafting table?
2. What kind of crafting table did you use?
3. Can you link to the datapacks you installed? Better yet, can you share the exact datapacks you are using?

[2022-03-05 12:46] UsernameNotActive commented on #157
The recipe conflict I tried was the deepslate furnace from the Quark mod. I used a normal crafting table, however I have the fast workbench mod installed. The datapacks I used are technical enchants, better underwater ruins, blaze and caves advancement pack, and some vanilla tweaks datapack: anti-enderman grief, armor statues, more mob heads, custom nether portals and fast leaf decay.
I tried the

[2022-03-05 21:30] TheIllusiveC4 commented on #157
I've tried it with the Vanilla Tweaks datapacks that you mentioned. All of them work fine, Polymorph still functions normally. I even did it with the Deepslate Furnace conflict with Quark installed, alongside Fast Workbench and the normal crafting table. Everything works fine. So there's something else going on here.

Please remove all other mods except for Quark and Polymorph and then test it aga

[2022-03-06 06:20] UsernameNotActive commented on #157
I still have the issue even without the other mods as long as I have a datapack enabled in my world

https://user-images.githubusercontent.com/77725997/156911817-687a2a4a-2288-4427-87b8-a31484bf1909.MOV

.

[2022-03-06 08:04] TheIllusiveC4 commented on #157
I can see that the button actually does show up for a split second before disappearing. This is important because it means that it is working, but _something_ is interrupting the process. Although I'm not sure what that is at this point.

Okay, so basically, if you have only Quark and Polymorph installed with no other mods, and any datapack, it stops working right? And you're certain there's nothi

[2022-03-06 10:10] UsernameNotActive commented on #157
The video was film in a new  world that I just created. whether I create the world with the datapack or add a datapack later on, the problem arises but when I remove all datapacks, the mod starts working properly.
Do you think it might be a ressource pack that is causing trouble?

[2022-03-06 10:30] UsernameNotActive commented on #157
Nope, tested without ressource packs and still not working properly.

[2022-03-06 20:48] TheIllusiveC4 commented on #157
Okay, can you try it again with nothing else installed and then afterwards give me your `latest.log` file for the session?

[2022-03-07 05:16] UsernameNotActive commented on #157
Here,
[latest.log](https://github.com/TheIllusiveC4/Polymorph/files/8195007/latest.log)

[2022-03-07 20:23] Toma400 commented on #152
I tested it today after updating Polymorph and everything seems to be working perfectly now. Sorry for bothering ^^'

[2022-03-07 20:23] #152 closed, assigned to TheIllusiveC4

[2022-03-07 21:23] #151 closed, assigned to TheIllusiveC4

[2022-03-08 05:33] TheIllusiveC4 commented on #157
Hm, unfortunately nothing seems to pop out at me from the log. Everything seems fine.

One last test. Remove all the other datapacks and try this datapack by itself:
[test.zip](https://github.com/TheIllusiveC4/Polymorph/files/8203022/test.zip)

This is the datapack I use to test Polymorph and it definitely is compatible. If it works, then something is wrong with the rest of your datapacks. If it s

[2022-03-08 10:14] UsernameNotActive commented on #157
It works so the problem is with the other datapacks. I will try contacting their creators to see if they can resolve the issue on their end. Thank you for spending time helping me.

[2022-03-09 22:44] #157 closed, assigned to TheIllusiveC4

[2022-03-12 07:05] #156 closed, assigned to TheIllusiveC4

[2022-03-27 18:47] Arthree opened #158 "[Fabric] Expanded Storage compatibility"
This applies to Minecraft 1.18.2/Fabric 0.13.3/Polymorph 0.0.20 with [[Fabric] Expanded Storage 7.3.11](https://www.curseforge.com/minecraft/mc-mods/expanded-storage-fabric). I have not tested on any other (i.e., older) versions.

**Please describe the new feature or change.**
Currently, the Polymorph button does not appear in the furnace UI when [Expanded Storage](https://www.curseforge.com/minec

[2022-04-01 05:39] liuzhi123hao opened #159 "Smoker blast furnace synthesis can still conflict"
#### Versions (Be specific, do not write "latest"):
* Polymorph:
* Forge/Fabric:
#### Observed Behavior:
#### Expected Behavior:
#### Steps to Reproduce:
1.
2.
3.
...

Crash Log: Please use a paste site like [hastebin](https://hastebin.com/).

[2022-04-01 05:46] liuzhi123hao opened #160 "Button disappears"
And this together with the button will disappear one button backpack organization Next
Links：https://www.curseforge.com/minecraft/mc-mods/inventory-profiles-next

[2022-04-01 06:24] qyl27 opened #161 "Low performance in 1.18.2 Arclight Modded server."
I tried to re-add the Polymorph mod into my server, but I found the performance issue is still here (or a new issue).

#### Versions (Be specific, do not write "latest"):
* Polymorph: 1.18.1-0.40
* Forge/Fabric: 40.0.32

#### Steps to Reproduce:
Install Polymorph and login to the server, play as normal.

#### More Info
Minecraft: 1.18.2
Server version: arclight-1.18.2-1.0.2-SNAPSHOT-ae3ff3d1
Spark

[2022-04-01 06:43] TheIllusiveC4 commented on #159
Can you please fill out the bug report with the version numbers and reproduction steps? I'll need to know this information so that I can see what you're talking about and replicate it on my end.

[2022-04-01 06:44] TheIllusiveC4 commented on #160
Can you please fill out the bug report with the version numbers and reproduction steps? I'll need to know this information so that I can see what you're talking about and replicate it on my end.

[2022-04-01 09:08] TheIllusiveC4 commented on #161
That's a little weird because now the profiling is showing that something else is causing performance issues which wasn't doing that in the last report. I'm not sure why that changed suddenly.

Anyways, this time I've tried to tackle this a little more aggressively from 3 different angles. Performance should be improved by at least 5 times, if not more. Please try out the new 1.18.1-0.41 version a

[2022-04-01 09:08] #161 closed, assigned to TheIllusiveC4

[2022-04-01 21:51] jeremiahwinsley opened #162 "[1.18.2] Mixin error with Sophisticated Backpacks compat"
#### Versions (Be specific, do not write "latest"):
* Polymorph: 1.18.1-0.40
* Forge/Fabric: Forge 40.0.34
#### Observed Behavior:

During startup, this error appears in the log:
[code]

Looks like the class has been renamed to `StorageContainerMenuBase`.

[2022-04-02 02:26] #162 closed, assigned to TheIllusiveC4

[2022-04-04 03:06] jeremiahwinsley opened #163 "[1.18.2] logged exception with FastBench"
#### Versions (Be specific, do not write "latest"):
* Polymorph: 0.42
* Forge/Fabric: 40.0.36
#### Observed Behavior:
This exception shows up in the log file:
https://gist.github.com/jeremiahwinsley/048f16129c240c77d2072a7f5753d84b

Doesn't seem to break anything that I can see, just log spam.

Looks like just a missing null check here: https://github.com/TheIllusiveC4/Polymorph/blob/72dcd318d7365

[2022-04-05 03:27] #163 closed, assigned to TheIllusiveC4

[2022-04-08 04:34] TamedBologna opened #164 "Crafting/Smelting poly options not showing up for egg and book"
#### Versions (Be specific, do not write "latest"):
* Polymorph: 0.0.20
* Forge/Fabric: Fabric 0.13.3
#### Observed Behavior:
list start of installed mods in question
polymorph(theillusivec4), patchouli(williewillus), mcdoom(azuredoomc), mythic mounts(chirpycricket_). and egg to capture(jtl_elisa), better animals plus(itsmeow_), additional additions(dqu1jjj)
list end
1.when trying to smelt a Minec

[2022-04-08 05:14] TheIllusiveC4 commented on #164
Did you have only those mods installed or were there more? If not, can you reproduce this with only those mods you listed?

[2022-04-10 02:24] liuzhi123hao commented on #160
Stand-alone works fine, online the server is also installed but there is no button on the interface

[2022-04-15 18:02] JSmurf11 opened #165 "Minecraft Crashes from Launcher"
When I added polymorph-forge-1.18.1-0.4.3 my Minecraft doesn't even open to the Mojang loading screen (with the bar) it immediately gives me a crash report. Is there a way to fix this?

Crash Report: https://pastebin.com/73z137bd

[2022-04-15 20:31] TheIllusiveC4 commented on #165
Polymorph isn't in the crash log at all, your report says it's crashing from HammerLib.

[2022-04-15 20:31] #165 closed, assigned to TheIllusiveC4

[2022-04-18 21:33] EldrinFal commented on #160
I'm having this issue as well.  Using MC 18.1.  I tried with the last mod version that states it's for 18.1 and also the latest mod.  Basically in the crafting screen when I select the item to craft, the polymorph button briefly appears, then it's gone.  I have a lot of mods so I assume it's a conflict of some kind.  Would a log help?

[2022-04-19 04:52] TheIllusiveC4 commented on #160
A log might help, but mostly you'd have to figure out which mod exactly is causing it. Do a binary search by taking half of the mods out, then testing again. If it happens again, take another half out and repeat. If it doesn't happen, then test with the half that you removed and repeat. Keep removing mods this way until you find the culprit.

[2022-04-19 05:45] EldrinFal commented on #160
[debug.log](https://github.com/TheIllusiveC4/Polymorph/files/8510150/debug.log)
[latest.log](https://github.com/TheIllusiveC4/Polymorph/files/8510151/latest.log)

Ok, well let's start with the logs since I can readily provide those.  Considering I have something like 170 mods, it will take some time to narrow it down.  At quick glance, I did notice in the debug log that there are some lines about

[2022-04-19 06:59] TheIllusiveC4 commented on #160
Hmm, well I don't see anything wrong in the logs and I don't think this would be caused by a mismatched Java version so I'll have to wait until you can narrow down which mod might be causing the issue.

[2022-04-21 05:10] EldrinFal commented on #160
I was able to pinpoint the problematic mod to one called "Technical Enchant +" found on Planetminecraft.  It's a Datapack which kept it a bit under my radar initially.  I was using ver 5.6 and after removing and adding it twice, I am certain that it was causing the conflict.  That being said, there was a version 5.7 released a week ago and that one seems to have resolved the problem.  Not sure if

[2022-04-21 20:58] TheIllusiveC4 commented on #160
It seems like they've updated to 6.0 now and I cannot find any links to old versions so I cannot test the problematic 5.6 version.

But anyways, I'll close this issue since your problem has been resolved and OP has not provided the necessary details for theirs.

[2022-04-21 20:58] #160 closed, assigned to TheIllusiveC4

[2022-04-23 02:14] VaelophisNyx opened #166 "java.lang.IllegalStateException"
#### Versions (Be specific, do not write "latest"):
* Polymorph: 0.0.20
* Fabric: 0.13.3
#### Observed Behavior: Crashes on load with this particular mod set. Mods cannot be changed, as they are the mods from a server's mod list. Note: This crash does not occur for other users with the same mods. Reporting for another user, so testing is not exactly something I could do.
[latest (2).log](https://g

[2022-04-23 02:15] VaelophisNyx commented on #166
further information: User in question has done two clean installs of both all involved mods & Fabric, and minecraft itself. Still results in a crash on main-menu load. First error is Polymorph related, further errors are less clear

[2022-04-23 04:03] TheIllusiveC4 commented on #166
This seems like an error with their `polymorph-integrations.json` configuration file. Please tell the user to either delete the configuration file so it can be regenerated normally or fix the formatting error in the file.

[2022-04-23 04:03] #166 closed, assigned to TheIllusiveC4

[2022-04-26 03:58] TamedBologna commented on #164
sorry to waste your time, roughly enough items gives a recipe for an item that you get through interacting with a mob, so not a actual recipe but just a blip. anyways your mod is not the problem I made the typical error of using the mods wrong. thank you for your time.

[2022-04-26 03:58] #164 closed, assigned to TheIllusiveC4

[2022-05-06 15:59] tindin opened #167 "The game crashed whilst unexpected error Error: java.lang.NullPointerException:"
#### Versions (Be specific, do not write "latest"):
* Polymorph:
* Forge
#### Observed Behavior:
 used a furnace and client crashes

Crash Log: Please use a paste site like [hastebin](https://hastebin.com/).
https://pastebin.com/A0cqe38b

[2022-05-06 16:07] LiviiYS commented on #160
I have been having the same issue & for me the issue comes from the mod extra origins

https://www.curseforge.com/minecraft/mc-mods/extra-origins

[2022-05-06 16:11] LiviiYS opened #168 "Button Disappears"
* Polymorph: polymorph-fabric-0.0.20-1.18.2
* Forge/Fabric: Fabric
#### Observed Behavior: Button Disappears
#### Expected Behavior: Button Shown
#### Steps to Reproduce:
1. Install extra origins
2. Try craft a conflicting recipe in a crafting table
3. No button appears if extra origins is installed

I have been having the same issue & for me the issue comes from the mod extra origins

https://www

[2022-05-06 23:31] TheIllusiveC4 commented on #167
Did you try this in single player or multiplayer? If multiplayer, did you make sure to install this mod on both the client and server?

Does this issue occur if you have ONLY Polymorph installed?

[2022-05-09 01:09] TacticalHampster opened #169 "Polymorph doesn't work with recipes that result in the same item with different NBT"
#### Versions (Be specific, do not write "latest"):
* Polymorph: 1.16.5-0.40
* Forge: 36.2.20
#### Observed Behavior:
* Polymorph did not recognize a conflict between CraftTweaker-added recipes that result in the same item but with different NBT data.
#### Expected Behavior:
* Polymorph should have allowed me to polymorph the different results.
#### Steps to Reproduce:
1. Install CraftTweaker and

[2022-05-09 13:03] #168 closed, assigned to TheIllusiveC4

[2022-05-15 18:46] itsdinkd opened #170 "[1.18.2] Conflicts with new AE2 version uploaded today"
as title suggests

#### Versions (Be specific, do not write "latest"):
* Polymorph: 0.20
* Forge/Fabric: 0.51.1 / 0.14.2
#### Observed Behavior:
Crashes on game load
#### Expected Behavior:
Not to crash
#### Steps to Reproduce:
1. Add AE2 11.0.0 release
2. Add polymorph
3. launch game

...

Crash Log: Please use a paste site like [hastebin](https://hastebin.com/).
https://pastebin.com/2NuBhcpS

[2022-05-15 22:53] #169 closed, assigned to TheIllusiveC4

[2022-05-15 22:53] #170 closed, assigned to TheIllusiveC4

[2022-05-16 15:35] Zunwolf1896 opened #171 "Smokers Don't seem to add the GUI button"
#### Versions (Be specific, do not write "latest"):
* Polymorph: 0.0.20-1.18.2
* Fabric: 0.13.3
* Food+: 1.4.0
* Croptopia: 2.0.1
#### Observed Behavior: Placing a sugar into a smoker creates a croptopia Caramel.
#### Expected Behavior: I expect he Ploymorph GUI to show up to allow the player to choose between the Croptopia or the Food+ caramel.
#### Steps to Reproduce:
1. Have the mentioned rods

[2022-05-16 17:11] LyceenAiro opened #172 "Conflict with AE2"
Versions :Minecraft 1.18.2
* Polymorph:polymorph-forge-1.18.2-0.44.jar
* Forge:forge-40.1.19
* conflicting mods:appliedenergistics2-11.0.0-alpha.6.jar

 Steps to Reproduce:
1.install Minecraft-1.18.2-Forge-40.1.19
2.add mods polymorph-forge-1.18.2-0.44.jar
3.add mods appliedenergistics2-11.0.0-alpha.6.jar
4.start the game
5.show bug report

Crash Log: https://paste.ubuntu.com/p/BKPWVpKSx2/

[2022-05-16 21:01] TheIllusiveC4 commented on #172
You have to update your AE2 version to 11.0.0+ (release, not alpha).

[2022-05-16 21:01] #172 closed, assigned to TheIllusiveC4

[2022-05-16 21:53] TheIllusiveC4 commented on #171
I cannot reproduce this bug, using these mods and placing sugar into a Smoker pops the GUI up just fine.

Did you reproduce this with ONLY these mods installed?

[2022-06-02 04:26] GaiaB0t opened #173 "Mekanism Support"
**Please describe the new feature or change.**
Adding support for Mekanism's machinery, specifically the energized smelter and its upgrades.

**Please describe why you want this feature.**
Been having an annoying issue of any time I want to make silicon from Refined Storage in autocrafting, it keeps making quartz glass from some random mod we have.
This, paired with #153 would make autocrafting fr

[2022-06-11 18:26] emanuele246gi opened #174 "Compatibility with Natural Progression"
**Please describe the new feature or change.**
Compatibility with Natural Progression

**Please describe why you want this feature.**
It would be helpful to have this option in the furnace. As you can see in the image below, I can't get any andesite block in the furnace (a smelting recipe added by Natural Progression) but I don't know why devs didn't think of this already existing vanilla recipe.

[2022-06-11 18:28] emanuele246gi commented on #174
Sorry, my mistake lol, that's not the classic cobblestone, but the andesite variant XD

[2022-06-11 18:28] #174 closed, assigned to TheIllusiveC4

[2022-06-12 02:30] ardissaps opened #175 "The problem happen again, no button on furnace, I have 1 egg can be fried in 3 different fried egg but no button to choose. crafting table still work"
MC 1.18.2

Mod all latest version :
Polymorp
Additional Addition
Farmer Delight
Better Animal Plus

Put Egg on the Furnace, no button. All crafted to Additional Addition only..
Crafting Table works fine for copper sword

[2022-06-13 03:51] TheIllusiveC4 commented on #175
I can't reproduce this, using only those four mods I am able to switch between all three fried egg types. Are you using ONLY those four mods? If not, you will need to find the mod that is causing this conflict.

[2022-06-13 11:17] ardissaps commented on #175
I am using autotag from modrinth, could possibly cause issue?

[2022-06-13 21:30] TheIllusiveC4 commented on #175
I don't know, possibly? You'd have to take out the mod and test it. Is that the only other mod that you have?

[2022-06-13 23:25] ardissaps commented on #175
I actually use a lot of mods :
![sdasdadasdad](https://user-images.githubusercontent.com/82106625/173463416-8d44539f-2f6e-45af-835b-c94c3d532147.jpg)

[2022-06-13 23:33] TheIllusiveC4 commented on #175
That's what I was referring to earlier, if you have more mods than just the ones you listed then any one of them could be causing this issue. You need to:

1. Remove all those mods except for the four that you listed and then test to see if it's still an issue.
2. If it's still an issue with just those four mods, report back with those results.
3. If it's NOT still an issue with just those four mo

[2022-06-13 23:49] ardissaps commented on #175
Ok I'll try remove some mods/tweak that could possibly edit furnace and try again. I'll post again if I found it, thank you for your time!

[2022-06-26 10:29] Bellabeau6 opened #176 "."
I'm not trying to be demanding but this is the only mod of it's type that is up to date with modern versions and there is no way to fix conflicting recipes on 1.19 without removing mods. Do you plan to update? Or are you staying at 1.18?

[2022-06-26 14:09] #176 closed, assigned to nobody

[2022-07-11 15:41] aziel13 opened #177 "Origins ++ conflict causes polymorph button to disappear"
#### Versions

minimal mods to reproduce issue:

polymorph-forge-1.18.2-0.44.jar
absentbydesign-1.18.2-1.6.2.jar
comforts-forge-1.18.2-5.0.0.4.jar
Origins-1.18.2-1.4.1.4-unified.jar
origins-plus-plus-1.6.2.jar
jei-1.18.2-9.7.0.196.jar
Pehkui-3.3.3+1.18.2-forge.jar
caelus-forge-1.18.1-3.0.0.2.jar

Modpack: All The Mods 7-0.04.20

Forge Version: 40.1.32

#### Observed Behavior:
When you place three

[2022-07-27 10:11] andi-makes opened #178 "Missing Furnace/Smoker Button"
#### Versions (Be specific, do not write "latest"):

Base Mods:
* Polymorph: 0.0.21-1.18.2
* Fabric Loader: 0.14.8
* Fabric API: 0.58.0+1.18.2
* Additional Additions: 4.0.5
* Farmer's Delight: 1.18.2-0.2.1

Problem Mods:
* Botania: 1.18.2-434-FABRIC, dependent on:
    * Trinkets: 3.3.1
    * Patchouli: 1.18.2-71.1-FABRIC
* Alloy Forgery: 2.0.13+1.18, dependent on:
    * owo-lib: 0.7.2-no-cme+1.18

[2022-07-27 19:34] TheIllusiveC4 commented on #178
Just to be clear, you're saying this problem happens if any ONE of the problem mods are installed correct?

[2022-07-28 05:40] andi-makes commented on #178
Correct!

[2022-07-29 19:38] Shadowrs commented on #178
My furnace button is also missing. I'm on a custom "another quality modpack" pack with 200+ mods, doing /polymorph conflicts doesnt seem to do anything (no log file or latest.log output). testing 200 mods 1by1 is unfeasible, any suggestions for investigating?

[2022-07-29 20:45] andi-makes commented on #178
I did the following:

Firstly, I only enabled the "Base Mods". The Furnace Button shows, so this is my baseline for further testing.

Then, I took a batch of mods (like, 10-20) and enabled them. Launched Minecraft, tested whether the furnace button showed - If it did, then those mods are compatible, if it didn't, I disabled half of the newly enabled mods, tried it again, and basically did a "binar

[2022-07-30 18:14] TheGrimsey commented on #178
Encountered this issue as well, and in my case, it appears to be related to ``Botania``.

With **just** the following mods removing Botania fixes the issue:
- Fabric Loader 0.14.8
- Fabric API 0.58.0+1.18.2
- Botania-1.18.2-434-FABRIC
    - Patchouli-1.18.2-71.1-FABRIC
    - trinkets-3.3.1
- TechReborn-5.2.0
    - RebornCore-5.2.0
- BeyondEarth-1.0.1
    - cloth-config-6.2.62-fabric

[2022-07-31 11:02] Khaeops commented on #178
Also having this issue when trying to cook eggs into any of various mods' Fried Eggs recipes, it always picks the first one available in JEI. I have Botania installed. Mods I have with Fried Eggs are:

- Incubation
- Farmer's Delight
- Better Animals Plus
- MoreFoods Mod by Daleeny
- Sandwich Mod.

[2022-08-12 18:27] Slugstur opened #179 "Overlapping buttons when using Charm's portable crafting"
![image](https://user-images.githubusercontent.com/96501456/184420819-fdeb3f4f-9f06-4745-9c53-a6e9810b61e3.png)

Button overlaps with the crafting recipes book when opening the portable crafting from Charm.
Would be nice if they didn't overlap. Besides the polymorph button usually is right above the 'result square'.

[2022-08-20 22:10] AngelTiramisu opened #180 "Memory Leak"
#### Versions (Be specific, do not write "latest"):
* Polymorph: 1.18.2
* Forge/Fabric: forge
#### Observed Behavior:
#### Expected Behavior:
#### Steps to Reproduce:
1.
2.
3.
...

Crash Log: Please use a paste site like [hastebin](https://hastebin.com/).

all i have is this line
stop
eventjava.lang.OutOfMemoryError: unable to create
native thread: possibly out of memory or
process/resource limits

[2022-08-21 09:03] INooBTooMuch opened #181 "[1.18.2] Button in the Smithing Table"
The polymorph button is in the smithing table.
This is a mod compatibility issue I believe because it doesn't show up in a world with just Polymorph.
![name](https://user-images.githubusercontent.com/107572028/185783494-65f39fcb-e00c-4b0e-9310-c6a0eb126736.png)
(This also appears when installing a gem into an [Apotheosis](https://www.curseforge.com/minecraft/mc-mods/apotheosis) weapon I don't know

[2022-08-21 23:43] TheIllusiveC4 commented on #181
Which mods are causing the incompatibilities specifically? Is it just Apotheosis?

[2022-08-21 23:48] TheIllusiveC4 commented on #180
There has to be more to the logs that you can share, otherwise how do you know it's a Polymorph issue? Nothing in those few lines point to this mod.

[2022-08-22 01:00] AngelTiramisu commented on #180
For some reason the crashes never created a log i can share but i spoke to support  on the site i use and this was the newest mod we added and they told me to remove it because it was causing a memory leak and as soon as it was removed everything went back to normal

[2022-08-22 01:09] AngelTiramisu commented on #180
![A36EDB81-3DE5-43F1-A943-84CA2DD515F7](https://user-images.githubusercontent.com/28626706/185820235-ec53c8fa-19eb-47bf-8eac-6639a54b84d5.png)

This was all i could get since it didnt create a log

[2022-08-22 02:39] TheIllusiveC4 commented on #180
Okay it might not create a crash log, but there are the regular logs too. Please share either the `latest.log` or `debug.log` file in your `logs` folder right after the crash happens.

[2022-08-22 09:02] INooBTooMuch commented on #181
I'm not sure about it, but these are the [Mods](https://gist.github.com/INooBTooMuch/bd6af1d1c3597aad2aebe96fe937218e)
I tested it with [Enlightened End](https://www.curseforge.com/minecraft/mc-mods/enlightened-end), [Majrusz's Progressive Difficulty](https://www.curseforge.com/minecraft/mc-mods/majruszs-progressive-difficulty), [Oh The Biomes You'll Go](https://www.curseforge.com/minecraft/mc-mod

[2022-08-28 12:40] Darkmega18 opened #182 "[1.16.5 (and likely others going up)] Issues with fastsuite and the button not appearing."
#### Versions (Be specific, do not write "latest"):
* Polymorph: polymorph-forge-1.16.5-0.40.jar
* Forge/Fabric: 1.16.5 - 36.2.39
* FastSuite: FastSuite-1.16.4-1.1.1.jar

#### Observed Behavior:
When both fastsuite and polymorph are installed the polymorph button fails to appear inside viable guis, like furnaces and work benches.

#### Expected Behavior:
Both should be capable of working together,

[2022-09-06 18:42] SatDog92 opened #183 "Polymorph's button becomes unavaiable when selecting a specific recipe, and comes back when selecting another recipe."
#### Versions:
* Polymorph: 0.45.0
* Forge/Fabric: Fabric 0.14.9

* better-nether-7.1.0
* blockus-2.5.2

#### Observed Behavior:
Using the direct example experienced with Betternether and Blockus together, when i chose the Soul Sandstone's recipe by using vanilla Soul Sand blocks, it will let me decide between Better Nether's version and Blockus one. When i chose the Soul Sandstone's recipe by usi

[2022-09-18 04:53] Bass2style opened #184 "[1.18.2] Cyclic integration is broken"
#### Versions (Be specific, do not write "latest"):
* Polymorph: 1.18.2-0.44
* Forge: 40.1.80
* Cyclic: 1.7.9
#### Observed Behavior: game is crashing at launch due to changes made in Cyclic
#### Expected Behavior: game do not crash
#### Steps to Reproduce:
1. update to Cyclic 1.7.9 with Polymorph alongside.
2. try to launch the game/
3. crashed
...

Crash Log: https://gist.github.com/Bass2style/f

[2022-09-18 10:03] #184 closed, assigned to TheIllusiveC4

[2022-09-22 21:32] CKY- opened #185 "[bug] 1.18.2 Wireless Crafting Grid for refinedstorageaddons missing polymorph button"
With pickle tweaks and additional lights it is easiest to see this using coal will craft tiny coal or fire for standing torch

here is the list of the 7 installed mods jei is only installed cause i dislike the creative menu

Additional Lights
additional_lights-1.18.2-2.1.4.jar

Cucumber Library
Cucumber-1.18.2-5.1.2.jar

Just Enough Items (JEI)
jei-1.18.2-9.7.1.255.jar

Pickle Tweaks
PickleTweaks-

[2022-10-05 22:00] HalcyonSeas73 opened #186 "[1.19.2] Fixing Cyclic Compatability"
#### Versions (Be specific, do not write "latest"):
* Polymorph: 0.45.0 + 1.19.2
* Cyclic: 1.7.11
* Forge/Fabric: 43.1.33

* Test recipes using [Compressium ](https://www.curseforge.com/minecraft/mc-mods/compressium)and [CB CompressedBlocks](https://www.curseforge.com/minecraft/mc-mods/cb-compressed-blocks)
#### Observed Behavior: No Polymorph button/option appears in _any_ Cyclic item.
#### Expec

[2022-10-09 00:59] TheIllusiveC4 commented on #186
This is not a bug, Cyclic (and all other mods) integration is not yet in the 1.19.x version. I need to overhaul the entire integration module and that will take a little bit of time to get right.

[2022-10-12 13:55] otavio-silva commented on #178
I'm having the same problem, I have 4~5 egg variants and it always outputs the same one, the button is not there. Anything that processes stuff in a furnace-like interface, the button is gone.

[2022-10-12 19:06] HalcyonSeas73 commented on #186
Cyclic in 1.19 also overhauled its crafting tables (which explains why compatibility broke)

[2022-10-12 22:39] Sinhika opened #187 "How do I, a mod dev, make my custom machines work with your mod?"
The Machines add-on to Simple Ores, which I maintain, features what appear to be modded furnaces, blast furnaces, and smokers. They are not actual children of the corresponding vanilla classes; they are custom machines that process smelting, blasting and smoking recipes. Apparently, Polymorph does not work with them.

It was pointed out by one of my beta testers that Mythril Blast Furnaces and Ony

[2022-10-15 18:43] Gbergz opened #188 "Support for Fastworkbench & fastfurnace. (1.19.2)"
**Please describe the new feature or change.**
Support for Fastworkbench & fastfurnace, they've been updated for 1.19.2

**Please describe why you want this feature.**
It was there on 1.18.2 too I believe.

[2022-10-15 19:52] Gbergz commented on #188
Saw your comment about " integration module " rework. Believe I got my answer.

[2022-10-16 08:52] xanthian opened #189 "Polymorph stops my mods Recipe mixin from working as intended."
my mod (Variant sticks and stuff)
adds stick variants for each vanilla wood type (and associated crafts)

rather than breaking the vanilla recipe for other plank > stick I use the following :

[code]

[2022-10-17 19:10] abrossimow opened #190 "Mod Support: Minecolonies"
**Please describe the new feature or change.**
Please consider adding mod support for MineColonies. It is a city builder mod for MC, with it's own "automation" system. It currently works by teaching NPCs recipies with its' own UI-Mask. Polymorph would be a great addition to that system.
-> https://www.curseforge.com/minecraft/mc-mods/minecolonies

**Please describe why you want this feature.**
Giv

[2022-10-21 05:28] #182 closed, assigned to TheIllusiveC4

[2022-10-21 05:47] TheIllusiveC4 commented on #179
I cannot reproduce this problem, when using the Portable Crafting from Charm the button appears above the result slot as it's intended. I can see you have other mods installed, please reproduce this with only Charm and Polymorph in order to isolate any other mod incompatibilities. If this problem still occurs, then please list the Charm, Polymorph, and Forge/Fabric versions and a detailed list of

[2022-10-21 16:24] Darkmega18 commented on #182
Noice.

[2022-10-22 09:07] P3rf3ctXZer0 commented on #182
This is still an issue for 1.19.2

[2022-10-23 09:09] Mathio95 opened #191 "Polymorph button not showing"
Polymorph: 0.450+1.19.2
Forge: 43.1.43

Observed Behavior: Polymorph button not showing in any craft/smith/etc. table

Mod conflict?

[latest.log](https://github.com/illusivesoulworks/polymorph/files/9846100/latest.log)
[conflicts.log](https://github.com/illusivesoulworks/polymorph/files/9846101/conflicts.log)
[debug.log](https://github.com/illusivesoulworks/polymorph/files/9846102/debug.log)

[2022-10-23 12:44] Mathio95 commented on #191
EDIT: I was able to track down the conflict.

It conflicts with fast- suite, workbench en furnace

After deleting those mods Polymorph functions normally.

[2022-10-25 23:24] P3rf3ctXZer0 opened #192 "1.19.2 - Server Side Crash/Hang with mods (``Polymoprh, Visual Workbench``)"
https://github.com/P3rf3ctXZer0/Fiction.Friction/issues/17

[2022-10-25 23:45] TheIllusiveC4 commented on #192
How do you know that this is a Polymorph issue? Polymorph has no known interaction between those mods and I cannot see Polymorph mentioned anywhere in the log attached to the issue you linked.

[2022-10-26 00:33] P3rf3ctXZer0 commented on #192
Damn that is the wrong log - one second.

[2022-10-26 00:36] P3rf3ctXZer0 commented on #192
https://gist.github.com/P3rf3ctXZer0/5de2460668ec14677b645e7fa99b5927

(Accidentally posted wrong log.)

Crashlog

https://gist.github.com/P3rf3ctXZer0/cb17b598ad17aa4ac3118c5734be48b3

[2022-10-26 02:01] TheIllusiveC4 commented on #192
Hmm, I'm not sure exactly what's going wrong here but I don't think it's related to Visual Workbench or Polymorph. Those mods are just calling regular vanilla methods near the top of their respective stacktrace sections. I would suspect Bigger Stacks may be interfering with the Ingredient initialization somehow but that's just a guess based purely on how extensively they seem to modify the base ga

[2022-10-26 02:10] P3rf3ctXZer0 commented on #192
Yeah that was the next plan. I close this till I get more info.

[2022-10-31 02:31] P3rf3ctXZer0 commented on #192
The JEI devs said it is polymorph.
![LtIgz6F 1](https://user-images.githubusercontent.com/10351221/198918939-4a3bb14c-1dc1-4dab-9f69-7915f84d077c.png)

[2022-10-31 18:45] mezz commented on #192
I actually have no idea what mod is causing the issue yet, I only looked into it enough to rule out JEI.
The JEI issue was opened here: https://github.com/mezz/JustEnoughItems/issues/3028

[2022-10-31 18:47] mezz commented on #192
@P3rf3ctXZer0 it looks like you will need to narrow this down by removing mods until the issue goes away.
If you can figure out exactly which mods are involved in the bug, you can make a more actionable bug report.

[2022-10-31 20:47] TheIllusiveC4 commented on #192
If you can figure out exactly which mods are involved in the bug, you can make a more actionable bug report.

I agree with this suggestion. It's necessary to reproduce this issue with the minimal number of mods involved before we can begin to figure out where it's going wrong.

I'll also clarify that I never said it wasn't Polymorph, I just don't _think_ it is from what the stacktrace tells me. Th

[2022-11-01 10:24] P3rf3ctXZer0 commented on #192
I mean I did that with no crashing so it definitely is a mod conflict. Unfortunately I don't have time to deal with it. Also my pack has changed dramatically since posting this issue. If it is not relevant or you are unable to deal with it I will simply close this issue as I have long since removed polymorph and kept visual workbench and have had absolutely no issues.

[2022-11-01 10:24] #192 closed, assigned to TheIllusiveC4

[2022-11-01 22:19] ghost opened #193 "Minecraft 22w43a unable to craft by right click"
#### Versions (Be specific, do not write "latest"):
* Minecraft: 22w43a and beyond
* Polymorph: 0.45.0
* Forge/Fabric: Fabric
#### Observed Behavior: crash client
#### Expected Behavior: divide items
#### Steps to Reproduce:
1. Install 22w43a snapshot
2. Pick-up some blocks in creative
3. Use right click in crafting table

Crash Log: https://pastebin.com/83M40TFc

#### 22w42a least version where w

[2022-11-01 22:30] TheIllusiveC4 commented on #193
This could just be an error related to the snapshot itself, but I don't update to snapshot versions so please wait for the official 1.19.3 release for this to be fixed (if still necessary).

[2022-11-01 22:40] unit-a-user commented on #193
I forgot to add:
[code]
Problem have when multiple.

[2022-11-01 23:26] ghost commented on #193
Probably, we needs really waiting official 1.19.3 release or beta, nor alpha.

[2022-11-02 01:29] TheIllusiveC4 commented on #193
You're free to fork and build your own version, the mod is open source. But I wouldn't accept any PRs to update to snapshots. My decision to not update to snapshot versions is not due to lack of time, it's due to the fact that I don't want to release versions for snapshots that are very susceptible to change in subsequent releases. For me, I'd rather wait until the official release before updating

[2022-11-02 01:43] unit-a-user commented on #193
Okay, I'll try to keep you posted on changes like that. I will update once a week, snapshot by snapshot, and only when I can afford it.

[2022-11-02 16:58] unit-a-user commented on #193
Alas, it is unlikely that this mod may not survive further snapshots. Mapping might not work at all in the near future.

[2022-11-04 16:36] unit-a-user commented on #193
Test port still working on 22w44a.

[2022-11-05 12:39] taj1994 opened #194 "Polymorph button not showing up in AE2 crafting terminal"
#### Versions (Be specific, do not write "latest"):
* Polymorph: 0.45.0+1.19.2
* Applied Energistics 2: 12.8.4
* Forge: 43.1.47
#### Observed Behavior:
- Polymorph button _doesn't_ show up in AE2 crafting terminal
#### Expected Behavior:
- Polymorph button _should_ show up in AE2 crafting terminal
#### Steps to Reproduce:
1. Install mods that have conflicting recipes (I used Quark, Cyclic, and Com

[2022-11-06 15:12] dehen opened #195 "[fabric] Polymorph does not appear to be working with smithing table right now."
#### Versions (Be specific, do not write "latest"):
* Polymorph:polymorph-fabric-0.45.0+1.19.2
* Forge/Fabric:fabric 14.10 + fabric-api-0.64.0+1.19.2
#### Observed Behavior:
No polymorph button in smithing table for duplicate recipes.
#### Expected Behavior:
So I added several recipes with crafttweaker that just give me named variants of a netherite sword. The crafttweaker recipes appear in REI bu

[2022-11-07 08:00] TheIllusiveC4 commented on #195
It took me quite a bit of testing to figure out what was going on in this scenario in its entirety. Polymorph was not parsing the tag data correctly, which resulted in it seeing all of the different outputs as a singular one. After making some corrections, I was able to get the selection menu to appear properly.

However, selecting the outputs did not actually change the crafting result. I found o

[2022-11-07 14:42] dehen commented on #195
That's fair. Thanks for doing the testing. At least it helped find a parsing issue.

[2022-11-09 16:47] WebF1yin commented on #194
I just want to add that the exact same problem occurs with Tom's Simple Storage Mod (1.19-1.4.3), which uses an extremely similar interface to AE2.

[2022-11-12 09:01] taj1994 commented on #194
It doesn't work with FastWorkbench either. Probably the other mods that go with it as well (FastFurnace and FastSuite)

[2022-11-13 12:02] #188 closed, assigned to TheIllusiveC4

[2022-11-13 12:02] #191 closed, assigned to TheIllusiveC4

[2022-11-13 12:02] #195 closed, assigned to TheIllusiveC4

[2022-11-13 13:00] TheIllusiveC4 commented on #194
The 0.46.0+1.19.2 update now supports the Fast series of mods. More extensive integration like AE2 and Tom's Simple Storage Mod is still in development.

[2022-11-14 01:56] PhweeDev commented on #178
This also happens on Forge too, granted this is a Fabric issue, I thought I'd mention that it also occurs on Forge 1.18 too

[2022-11-17 16:31] TheAngryFire commented on #194
Same issue on 1.18.2

Polymorph: 1.18.2-0.45
Applied Energistics 2: 11.6.4
Forge: 40.1.84

[2022-11-18 00:24] TheIllusiveC4 commented on #194
@TheAngryFire I cannot reproduce this on 1.18.2. Using your versions, everything works fine to me. Please try testing with only Polymorph, AE2, and any other mods necessary to create a recipe conflict, and see if your issue is the result of a mod conflict.

[2022-11-18 03:19] taj1994 commented on #194
I can confirm that it works in 1.18 for me using the same versions as @TheAngryFire. Again tested using Compressium and Cyclic for their overlapping compressed cobblestone recipes, plus JEI

![2022-11-17_20 16 42](https://user-images.githubusercontent.com/1844822/202609036-0f623a3b-584e-44ca-8a1c-8020cefa878d.png)

[2022-11-19 03:45] TheAngryFire commented on #194
As it turns out it seems to be an issue with ATM7,  some sort of conflict i suppose. My apologies.

[2022-11-19 18:35] otavio-silva commented on #178
Any news on this?
Still the furnace button is not showing, and that would be really nice...

[2022-11-26 20:36] NielsPilgaard commented on #167
This has recently happened in E8, with [polymorph-forge-1.18.2-0.45.jar](https://www.curseforge.com/minecraft/mc-mods/polymorph/files/3995029).

Cause:

Leaving the server and rejoining it works without an issue, it appears to only happen when getting kicked for some reason.

Polymorph was present on both client and server.

Linked issue: https://github.com/EnigmaticaModpacks/Enigmatica8/issues/32

[2022-11-26 23:06] aelfwyne opened #196 "Add "Crafting Remote" support from Simple Storage Network."
**Please describe the new feature or change.**

Add "Crafting Remote" support from Simple Storage Network.

**Please describe why you want this feature.**

Polymorph already supports the crafting request table from the same mod.

[2022-11-27 09:17] #167 closed, assigned to TheIllusiveC4

[2022-11-27 18:59] PurpleHel opened #197 "polymorph not working with 1.19 crafting station"
#### Versions (Be specific, do not write "latest"):
* Polymorph: Tested with both polymorph-forge-0.46.0+1.19.2 and polymorph-forge-0.46.1+1.19.2
* Forge 43.1.57
* craftingstation-1.19.2-6
#### Observed Behavior: no polymorph button even when items have multiple recipes
#### Expected Behavior: polymorph button
#### Steps to Reproduce:
1. put in ingredients with multiple possible outputs
2. don't s

[2022-11-29 17:52] Pultex commented on #153
Oh yes this would let me use this mod again
as of right now I get an error saying it can not deserialize a recipe from polymorph as polymorph does not exist
this makes the world crash with a ticking world event
log is full of these can not deserialize in fabric crash log
removing polymorph fixes the issue

[2022-11-29 18:25] TheIllusiveC4 commented on #153
@Pultex That seems like an unrelated issue to this thread. Please open a new issue as a bug report and post your crash log so that I can investigate your problem further.

[2022-11-30 05:46] Traehgniw commented on #178
I'm playing the modpack You Like Food, which doesn't have Botania. It's a Forge 1.18.2 modpack where the goal is to make all the food items. There are a lot of mushroom-related recipe conflicts and it's an Issue.